<div class="page-header no-gutter">
  <div class="row align-items-start">
    <div class="col-sm">
      <h1 class="page-header-title">Hàng xuất</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Kho hàng</li>
          <li class="breadcrumb-item">Quản lý kho</li>
          <li class="breadcrumb-item">Xuất kho</li>
          <li class="breadcrumb-item active">Hàng xuất</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="d-flex justify-content-end mb-2">
        <ngx-date-range-picker [options]="'all,week,month,year,customRange'" [data]="data" (applyEvent)="onDatePickerSuccess()"></ngx-date-range-picker>
      </div>
    </div>
  </div>
</div>
<div class="nav-tabs-light">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/requests']" class="nav-link" routerLinkActive="active">Yêu cầu xuất</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/tickets']" class="nav-link" routerLinkActive="active">Phiếu xuất kho</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/products']" class="nav-link" routerLinkActive="active">Hàng xuất</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/histories']" class="nav-link" routerLinkActive="active">Lịch sử xuất</a></li>
  </ul>
  <div class="tab-content pt-3">
    <div class="card">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                  </div>
                </div>
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th [hidden]="!columns.id">#</th>
            <th [hidden]="!columns.created_at">Ngày giờ</th>
            <th [hidden]="!columns.category">Danh mục</th>
            <th [hidden]="!columns.prd_idx">Mã sản phẩm</th>
            <th [hidden]="!columns.prd_image">Hình ảnh</th>
            <th [hidden]="!columns.prd_name">Tên sản phẩm</th>
            <th [hidden]="!columns.prd_short">Đặc điểm/thuộc tính/<br>Quy cách</th>
            <th [hidden]="!columns.tp_content">Ghi chú sản phẩm</th>
            <th [hidden]="!columns.prd_unit">ĐVT</th>
            <th [hidden]="!columns.tp_quantity">Tổng SL</th>
            <th [hidden]="!columns.tp_total">Số tiền</th>
            <th [hidden]="!columns.idx">Mã phiếu</th>
            <th [hidden]="!columns.out_type">Loại</th>
            <th [hidden]="!columns.to">Nơi nhận</th>
            <th [hidden]="!columns.stock">Kho xuất</th>
            <th [hidden]="!columns.staff">Người giao</th>
            <th [hidden]="!columns.storekeeper">Thủ kho</th>
          </tr>
          <tr>
            <td>
              <div class="dropdown" dropdown container="body" placement="bottom left" [insideClick]="true">
                <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle no_arrow d-flex align-items-center"><span class="mr-1 ic ic_visible_outlined"></span><span>Hiển thị</span></button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                  <div class="dropdown-item" *ngFor="let item of columnList">
                    <div class="custom-control custom-checkbox"><input type="checkbox" [attr.id]="'columnShow'+item.id" [(ngModel)]="item.checkbox" class="custom-control-input" [disabled]="item.disabled" (change)="columnCheckbox()"><label [attr.for]="'columnShow'+item.id" class="custom-control-label d-block" [innerText]="item.name"></label></div>
                  </div>
                </div>
              </div>
            </td>
            <td [hidden]="!columns.id"></td>
            <td [hidden]="!columns.created_at"></td>
            <td [hidden]="!columns.category"></td>
            <td [hidden]="!columns.prd_idx"><span class="d-block" style="min-width: 100px;max-width: 300px"><input type="text" [(ngModel)]="data.data.product_idx" (keyup)="onFilter($event)" class="form-control"></span></td>
            <td [hidden]="!columns.prd_image"></td>
            <td [hidden]="!columns.prd_name"><span class="d-block" style="min-width: 150px;max-width: 350px"><input type="text" [(ngModel)]="data.data.product" (keyup)="onFilter($event)" class="form-control"></span></td>
            <td [hidden]="!columns.prd_short"></td>
            <td [hidden]="!columns.tp_content"></td>
            <td [hidden]="!columns.prd_unit"></td>
            <td [hidden]="!columns.tp_quantity"></td>
            <td [hidden]="!columns.tp_total"></td>
            <td [hidden]="!columns.idx"><span class="d-block" style="min-width: 100px;max-width: 300px"><input type="text" [(ngModel)]="data.data.idx" (keyup)="onFilter($event)" class="form-control"></span></td>
            <td [hidden]="!columns.out_type"></td>
            <td [hidden]="!columns.to"></td>
            <td [hidden]="!columns.stock"></td>
            <td [hidden]="!columns.staff"></td>
            <td [hidden]="!columns.storekeeper"></td>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="18"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div>
                    <div class="custom-control-wrapper">
                      <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                    </div>
                  </div>
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <td [hidden]="!columns.id" [innerText]="item.id"></td>
              <td [hidden]="!columns.created_at" [innerText]="item.created_at|formatDate"></td>
              <td [hidden]="!columns.category"><span class="d-block" style="min-width: 100px; max-width: 300px" [innerText]="item.category.name"></span></td>
              <td [hidden]="!columns.prd_idx"><span class="d-block" style="min-width: 100px; max-width: 300px" [innerText]="item.product.idx"></span></td>
              <td [hidden]="!columns.prd_image"><span *ngIf="item.product.thumb_url"><img [src]="item.product.thumb_url" style="width: 100px"></span></td>
              <td [hidden]="!columns.prd_name"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.product.name"></span></td>
              <td [hidden]="!columns.prd_short"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.tp.content"></span></td>
              <td [hidden]="!columns.tp_content"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.product.name"></span></td>
              <td [hidden]="!columns.prd_unit" [innerText]="item.product.unit_name"></td>
              <td [hidden]="!columns.tp_quantity" [innerText]="item.tp.quantity|number"></td>
              <td [hidden]="!columns.tp_total" [innerText]="item.tp.total|currencyFormat"></td>
              <td [hidden]="!columns.idx" [innerText]="item.idx"></td>
              <td [hidden]="!columns.out_type" class="text-nowrap" [innerText]="item.out_type_name"></td>
              <td [hidden]="!columns.to">
                <ng-container *ngIf="item.out_type=='sale'"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.out_customer?.company"></span></ng-container>
                <ng-container *ngIf="item.out_type=='transfer'"><span [innerText]="item.out_stock?.name"></span></ng-container>
              </td>
              <td [hidden]="!columns.stock" [innerText]="item.stock?.name"></td>
              <td [hidden]="!columns.staff"><span class="d-block" style="min-width: 200px"><ngx-contact-html [contact]="item.staff"></ngx-contact-html></span></td>
              <td [hidden]="!columns.storekeeper"><span class="d-block" style="min-width: 200px"><ngx-contact-html [contact]="item.storekeeper"></ngx-contact-html></span></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>
    </div>
  </div>
</div>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
