<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span [innerText]="!info?'Thêm':'Cập nhật'"></span> gói quà tặng</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form">
          <div class="row">
            <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
              <label class="input-label">Tên bộ quà tặng<span class="text-required">*</span></label>
              <input type="text" [formControl]="controls.name" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label class="input-label">Trạng thái</label>
              <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="input-label">Ngày bắt đầu</label>
              <div class="input-group">
                <input type="text" [formControl]="controls.start_date" bsDatepicker [bsConfig]="bsConfig" #startDate="bsDatepicker" class="form-control">
                <div class="input-group-append"><span class="input-group-text" (click)="startDate.toggle()" [attr.aria-expanded]="startDate.isOpen"><span class="ic_timetable"></span></span></div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="input-label">Ngày kết thúc</label>
              <div class="input-group">
                <input type="text" [formControl]="controls.end_date" bsDatepicker [bsConfig]="bsConfig" #enDate="bsDatepicker" class="form-control">
                <div class="input-group-append"><span class="input-group-text" (click)="enDate.toggle()" [attr.aria-expanded]="enDate.isOpen"><span class="ic_timetable"></span></span></div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="input-label">Mô tả</label>
              <textarea name="description" [formControl]="controls.description" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </form>
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col-12 col-sm"><h4 class="m-0">Danh sách sản phẩm</h4></div>
              <div class="col-auto">
                <div class="d-flex align-items-center">
                  <div class="btn-group dropdown" dropdown (onShown)="onShown()" #dropdown="bs-dropdown" placement="bottom right" [insideClick]="true">
                    <input dropdownToggle type="text" class="form-control" style="min-width: 350px" placeholder="Tìm sản phẩm">
                    <div *dropdownMenu class="dropdown-menu bs-dropdown-menu">
                      <div class="bs-searchbox"><input #inputElement type="text" [(ngModel)]="data.data.q" class="form-control" (keyup)="onFilter($event)" placeholder="Gõ để tìm kiếm..."></div>
                      <div class="bs-innerbox">
                        <ul class="dropdown-menu inner">
                          <li *ngIf="data.loading" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></li>
                          <li *ngFor="let item of data.items"><a (click)="addProduct(item);dropdown.isOpen=false"><span [innerText]="item.name"></span> (<span [innerText]="item.price|currencyFormat"></span>)</a></li>
                        </ul>
                      </div>
                      <div *ngIf="data.data.q && !data.loading && !data.items.length" class="bs-status">Không tìm thấy kết quả nào</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th style="width: 1px">Stt</th>
                <th>Tên sản phẩm</th>
                <th style="width: 140px;">Đơn giá</th>
                <th style="width: 86px;">Số lượng</th>
                <th style="width: 90px">Tổng tiền</th>
                <th style="width: 1px"></th>
              </tr>
              </thead>
              <tbody class="text-dark">
              <tr *ngFor="let item of products; let $index = index">
                <td style="text-align: center;vertical-align: middle;" [innerText]="$index + 1"></td>
                <td><span style="min-width: 220px;"><input type="text" [(ngModel)]="item.name" class="form-control"></span></td>
                <td><input ngxCurrency type="number" [(ngModel)]="item.price" (ngModelChange)="onProductChange(item)" min="0" class="form-control"></td>
                <td><input type="number" [(ngModel)]="item.quantity" (ngModelChange)="onProductChange(item)" min="1" class="form-control" style="width: 70px"></td>
                <td><span class="form-control-plaintext w-auto" [innerText]="(item.price * item.quantity)|currencyFormat"></span></td>
                <td><a class="btn btn-sm btn-danger" (click)="removeProduct(item)" title="Xóa" href="javascript:;"><span class="ic ic_close"></span></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group"></div>
        <div class="d-flex justify-content-end">
          <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Hoàn tất</button>
        </div>
      </div>
    </div>
  </div>
</div>
