<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chọn widget</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-12">
            <label class="input-label">Từ khóa</label>
            <div class="input-group input-group-merge">
              <div class="input-group-prepend"><span class="input-group-text"><span class="ic_search"></span></span></div>
              <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="data.data.q" (keyup)="onFilter($event)">
            </div>
          </div>
        </div>
        <ul class="search_results" style="height: 600px">
          <li *ngIf="data.loading && !data.items.length">
            <div class="info text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></div>
          </li>
          <li *ngFor="let item of data.items">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col">
                <span class="d-block fs-5 text-hover-primary mb-0"><span [innerText]="item.name"></span> (<span [innerText]="item.idx?item.idx:item.code"></span>)</span>
              </div>
            </div>
            <div class="row" *ngIf="item.cf_data&&item.cf_data.classes">
              <div class="col-3 pr-0" *ngFor="let cl of item.cf_data.classes">
                <div class="mb-2">
                  <a href="javascript:;" (click)="selectClasses(item, cl)">
                    <img class="mb-1" [src]="cl.preview" style="max-width: 100%;">
                    <span class="d-flex align-items-center"><span class="mr-1"><span class="choice-checkbox" [ngClass]="{'selected':(selected&&selected.id==item.code + '_' + cl.id)}"></span></span><span [innerText]="cl.name"></span></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-secondary" type="button" (click)="onSubmit()" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span>Tiếp theo</button>
        </div>
      </div>
    </div>
  </div>
</div>
