<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Sửa'|translate">Sửa</span>&nbsp;<span [innerText]="'widget'|translate">widget</span></h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form">
          <div class="form-group" [ngClass]="{'has-error': (controls.idx.invalid && (controls.idx.touched || showValid))}">
            <label class="input-label" [innerText]="'Mã widget'|translate">Mã widget</label>
            <input name="idx" type="text" [formControl]="controls.idx" class="form-control">
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
            <label class="input-label" [innerText]="'Tên widget'|translate">Tên widget</label>
            <input name="name" type="text" [formControl]="controls.name" class="form-control">
          </div>
          <div class="form-group">
            <label class="input-label">Mô tả</label>
            <textarea ngxEditor [formControl]="controls.description" class="form-control" rows="3"></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary px-5" type="button" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
