<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card card-hover-shadow h-100">
      <div class="p-4 border-bottom d-flex justify-content-between">
        <div class="h4 mb-0 text-muted">Biểu đồ kết quả doanh số/doanh thu</div>
        <div class="btn-group">
          <button type="button" (click)="exportExcelByDate()" class="btn btn-outline-secondary bg-white font-weight-bold card-hover-shadow"><span class="ic_share mr-1"></span>Xuất danh sách theo ngày</button>
        </div>
      </div>
      <div class="p-4">
        <div class="chart_labels row justify-content-between mb-2">
          <div class="col-sm-auto mr-auto text-nowrap mb-2">
            <div class="d-flex align-items-center">
              <span class="legend-indicator" [style.background-color]="'#b0e1ff'"></span>
              <b class="fs-sm text-muted">Doanh số:</b>
              <div class="pl-1">
                <div class="h1 lh-1 mb-1" [innerText]="(statData.sales_index.sale_total.now|currencyFormat) + 'đ'"></div>
                <ngx-trending [value]="statData.sales_index.sale_total.percent"></ngx-trending> <span class="font-weight-bold pl-4">from <span [innerText]="(statData.sales_index.sale_total.last|currencyFormat) + 'đ'"></span></span>
              </div>
            </div>
          </div>
          <div class="col-sm-auto mr-auto text-nowrap mb-2">
            <div class="d-flex align-items-center">
              <span class="legend-indicator" [style.background-color]="'#4285f4'"></span>
              <b class="fs-sm text-muted">Doanh số đã xác nhận:</b>
              <div class="pl-1">
                <div class="h1 lh-1 mb-1" [innerText]="(statData.sales_index.sale_confirm_total.now|currencyFormat) + 'đ'"></div>
                <ngx-trending [value]="statData.sales_index.sale_confirm_total.percent"></ngx-trending> <span class="font-weight-bold pl-4">from <span [innerText]="(statData.sales_index.sale_confirm_total.last|currencyFormat) + 'đ'"></span></span>
              </div>
            </div>
          </div>
          <div class="col-sm-auto mr-auto text-nowrap mb-2">
            <div class="d-flex align-items-center">
              <span class="legend-indicator" [style.background-color]="'#d991a4'"></span>
              <b class="fs-sm text-muted">Doanh thu:</b>
              <div class="pl-1">
                <div class="h1 lh-1 mb-1" [innerText]="(statData.sales_index.revenue_total.now|currencyFormat) + 'đ'"></div>
                <ngx-trending [value]="statData.sales_index.revenue_total.percent"></ngx-trending> <span class="font-weight-bold pl-4">from <span [innerText]="(statData.sales_index.revenue_total.last|currencyFormat) + 'đ'"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div style="margin: auto">
          <ngx-chartjs-line [data]="statData.sales_charts.sales_results" [width]="857" [height]="170"></ngx-chartjs-line>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ngx-db-com-row-sales-index [data]="statData.sales_index"></ngx-db-com-row-sales-index>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-db-com-row-product-revenues [filter]="filterData"></ngx-db-com-row-product-revenues>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-db-com-row-order-revenues [filter]="filterData"></ngx-db-com-row-order-revenues>
  </div>
</div>
