<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Danh sách quản trị</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Quản trị</a></li>
          <li class="breadcrumb-item active">Quản trị</li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div>
        </th>
        <!--<th>Stt</th>-->
        <th (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
        <th (click)="sortBy('first_name')" [attr.class]="sortClass('first_name')">Quản trị <span class="sort-indicator"></span></th>
        <th (click)="sortBy('phone_number')" [attr.class]="sortClass('phone_number')">Số ĐT <span class="sort-indicator"></span></th>
        <th (click)="sortBy('email')" [attr.class]="sortClass('email')">Email <span class="sort-indicator"></span></th>
        <th>Phân quyền</th>
        <th (click)="sortBy('status')" [attr.class]="sortClass('status')">Trạng thái <span class="sort-indicator"></span></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading"><td colspan="8" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td></tr>
      <ng-container *ngFor="let item of data.items; let $index = index">
        <tr *ngIf="item.id != 1 || isSuperAdmin()" [ngClass]="{'odd':$index%2==0,'even':$index%2==1}">
          <td><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'customSelect'+$index"></label></div></td>
          <td [innerText]="item.id"></td>
          <td [innerText]="item.display"></td>
          <td>{{ item.phone_number }}</td>
          <td>{{ item.email }}</td>
          <td>
            <ng-container *ngIf="item.roles && item.roles.length">
              <ng-container *ngFor="let role of item.roles; let $i = index"><span *ngIf="$i!=0">, </span>{{role.name}}</ng-container>
            </ng-container>
          </td>
          <td class="text-capitalize">{{ item.status }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
  </div>
</div>
<ngx-usr-form (onSuccess)="onFormSuccess($event)"></ngx-usr-form>
<ngx-usr-dlg-roles (onSuccess)="onRolesSuccess($event)"></ngx-usr-dlg-roles>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
