<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Sửa'|translate">Sửa</span>&nbsp;menu</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <tabset #formTabs>
          <tab>
            <ng-template tabHeading>Mặc định</ng-template>
            <form class="pt-3" novalidate [formGroup]="form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                    <label class="input-label">Tên</label>
                    <input name="name" type="text" [formControl]="controls.name" class="form-control">
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (controls.icon.invalid && (controls.icon.touched || showValid))}">
                    <label class="input-label">Icon</label>
                    <input name="icon" type="text" [formControl]="controls.icon" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                    <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
                  </div>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.parent_id.invalid && (controls.parent_id.touched || showValid))}">
                <label class="input-label"><span [innerText]="'Menu cha'|translate"></span></label>
                <select class="form-control" [formControl]="controls.parent_id" [ngClass]="{'loading':parentData.loading}">
                  <option value="">{{'Không'|translate}}</option>
                  <ng-container *ngFor="let item of parentData.items">
                    <option [value]="item.id">{{ item.name }}</option>
                    <ng-container *ngIf="item.childs">
                      <option *ngFor="let child of item.childs" [value]="child.id">&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.source.invalid && (controls.source.touched || showValid))}">
                <label class="input-label"><span [innerText]="'Nguồn'|translate"></span></label>
                <select class="form-control" [formControl]="controls.source" (change)="onSourceChange()">
                  <option value="">{{'Không'|translate}}</option>
                  <ng-container *ngFor="let item of sourceList">
                    <option [value]="item.id">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
              <ng-container *ngIf="!controls.source.value">
                <div class="form-group">
                  <label class="input-label">Chuyển hướng</label>
                  <ngx-toggle-switch [formControl]="controls.is_redirect"></ngx-toggle-switch>
                </div>
                <div *ngIf="controls.is_redirect.value" class="form-group" [ngClass]="{'has-error': (controls.link.invalid && (controls.link.touched || showValid))}">
                  <label class="input-label" [innerText]="'Liên kết'|translate">Liên kết</label>
                  <input name="link" type="text" [formControl]="controls.link" class="form-control">
                </div>
              </ng-container>
              <div *ngIf="!controls.is_redirect.value" class="form-group" [ngClass]="{'has-error': (controls.page_id.invalid && (controls.page_id.touched || showValid))}">
                <label class="input-label"><span [innerText]="'Trang'|translate"></span></label>
                <select class="form-control" [formControl]="controls.page_id" [ngClass]="{'loading':pageData.loading}">
                  <option value="">{{'Không'|translate}}</option>
                  <option *ngFor="let item of pageData.items" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
              <div class="row">
                <div class="form-group col-sm-12" [ngClass]="{'has-error': (controls.sort_order.invalid && (controls.sort_order.touched || showValid))}">
                  <label class="input-label" [innerText]="'Sắp xếp'|translate">Sắp xếp</label>
                  <input name="sort_order" type="number" [formControl]="controls.sort_order" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                  <label class="input-label">Trạng thái</label>
                  <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
                </div>
                <div class="form-group col-sm-3">
                  <label class="input-label" [innerText]="'Header'|translate">Header</label>
                  <ngx-toggle-switch [formControl]="controls.is_header"></ngx-toggle-switch>
                </div>
                <div class="form-group col-sm-3">
                  <label class="input-label" [innerText]="'Footer'|translate">Footer</label>
                  <ngx-toggle-switch [formControl]="controls.is_footer"></ngx-toggle-switch>
                </div>
                <div class="form-group col-sm-3">
                  <label class="input-label" [innerText]="'Sidebar'|translate">Sidebar</label>
                  <ngx-toggle-switch [formControl]="controls.is_sidebar"></ngx-toggle-switch>
                </div>
              </div>
              <ng-container *ngIf="!(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                </div>
              </ng-container>
              <ng-container *ngIf="(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                  <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'|translate">Cập nhật & thoát</span></button>
                </div>
              </ng-container>
            </form>
          </tab>
          <ng-container *ngIf="info">
            <ng-container *ngFor="let item of langData.items; let $index = index">
              <tab (selectTab)="onSelectTab('language_' + $index)">
                <ng-template tabHeading><span [innerText]="item.name"></span></ng-template>
                <div *ngIf="tabs['language_' + $index]" class="pt-3">
                  <ngx-pg-menu-desc [setup]="{item:info,language:item}" (onSuccess)="onDescSuccess($event)"></ngx-pg-menu-desc>
                </div>
              </tab>
            </ng-container>
          </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
