{{ header }}
<main id="main-content" ng-controller="ProfileCtrl">
  {{ module_profile }}
  <div class="">
    <div class="container">
      <div class="layout_account">
        {{ column_left }}
        <div class="main_content">
          <div class="page-title font-weight-bold text-capitalize h4 mb-6 d-none d-md-block">Lịch của tôi</div>
          <profile-calendar></profile-calendar>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  if ($(window).width() < 767) {
    $('.breadcrumb').addClass('pt-7')
  }
</script>
{#<script type="text/javascript" src="/assets/js/fullcalendar/packages/month/main.js"></script>#}
{{ footer }}
