<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Thiết lập'|translate">Thiết lập</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Hệ thống</a></li>
          <li class="breadcrumb-item active"><span [innerText]="'Ngôn ngữ'|translate">Ngôn ngữ</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div>
        </th>
        <th>#ID</th>
        <th><span>Tên</span></th>
        <th><span [innerText]="'Code'|translate">Code</span></th>
        <th><span [innerText]="'File ngôn ngữ'|translate">File ngôn ngữ</span></th>
        <th><span [innerText]="'Locale'|translate">Locale</span></th>
        <th><span [innerText]="'Thứ tự'|translate">Thứ tự</span></th>
        <th><span>Trạng thái</span></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading">
        <td colspan="8" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
      </tr>
      <tr *ngFor="let item of data.items; let $index = index">
        <td>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'customSelect'+$index"></label></div>
        </td>
        <td [innerText]="item.id"></td>
        <td>
          <div style="min-width: 150px;" [innerText]="item.name"></div>
          <div class="row-options" *ngIf="item.id>1"><a href="javascript:;" (click)="edit(item)" [innerText]="'Sửa'|translate">Sửa</a>&nbsp; | &nbsp;<a href="javascript:;" class="text-danger" (click)="remove(item)" [innerText]="'Xóa'|translate">Xóa</a></div>
        </td>
        <td [innerText]="item.code"></td>
        <td [innerText]="item.filename"></td>
        <td [innerText]="item.locale"></td>
        <td [innerText]="item.sort_order"></td>
        <td>
          <label class="toggle-switch toggle-switch-sm"><input type="checkbox" class="toggle-switch-input" [checked]="item.status" disabled><span class="toggle-switch-label checked-disabled"><span class="toggle-switch-indicator"></span></span></label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-st-language-form (onSuccess)="onFormSuccess($event)"></ngx-st-language-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
