<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span [innerText]="info?'Thêm':'Sửa'"></span> sản phẩm</h4>
        <a (click)="hide()" class="close" href="javascript:"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form">
          <div *ngIf="!info" class="form-group" [ngClass]="{'has-error': (controls.product_id.invalid && (controls.product_id.touched || showValid))}">
            <label class="input-label">Sản phẩm</label>
            <ngx-input-product [formControl]="controls.product_id" [(selected)]="curSelected"></ngx-input-product>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.price.invalid && (controls.price.touched || showValid))}">
            <label class="input-label"><span>Giá khuyến mãi</span></label>
            <input type="number" [formControl]="controls.price" class="form-control">
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.quantity.invalid && (controls.quantity.touched || showValid))}">
            <label class="input-label"><span>Số lượng</span></label>
            <input type="number" min="0" [formControl]="controls.quantity" class="form-control">
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Hoàn tất</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
