<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Danh sách module mẫu'|translate">Danh sách module mẫu</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)"><span [innerText]="'Danh mục trang'|translate">Danh mục trang</span></a></li>
          <li class="breadcrumb-item active"><span [innerText]="'Module mẫu'|translate">Module mẫu</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center flex-grow-1">
      <div class="col-12 col-sm">
        <div class="input-group input-group-merge input-group-borderless">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="ic_search"></span></div>
          </div>
          <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="data.data.q" (keyup)="onFilter($event)">
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center"></div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
      <tr>
        <th>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="tabContentSelect"><label class="custom-control-label" for="tabContentSelect"></label></div>
        </th>
        <th>Stt</th>
        <th><span>Tên</span></th>
        <th><span>Hình</span></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading"><td colspan="4" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td></tr>
      <tr *ngFor="let item of data.items; let $index = index">
        <td>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'tabContentSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'tabContentSelect'+$index"></label></div>
        </td>
        <td [innerText]="$index + 1"></td>
        <td>
          <a href="javascript:void(0)" class="d-block">{{item.name}}</a>
          <div class="row-options"><a href="javascript:void(0)" (click)="edit(item)" [innerText]="'Sửa'|translate">Sửa</a>&nbsp; <span>| &nbsp;<a href="javascript:void(0)" class="text-danger" (click)="remove(item)" [innerText]="'Xóa'|translate">Xóa</a></span></div>
        </td>
        <td>
          <div class="text-center">
            <a [href]="item.preview" target="_blank"><img [src]="item.preview" alt="" style="width: 150px"></a>
            <a href="javascript:;" (click)="openPreview(item)" class="d-block">Xem trước</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-pg-pattern-form (onSuccess)="onFormSuccess($event)"></ngx-pg-pattern-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
