<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="!info">Thêm phiếu nhập kho</span>
          <span *ngIf="info">Cập nhật phiếu nhập kho</span>
        </h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form">
          <div class="row">
            <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
              <label class="input-label">Tên</label>
              <input name="name" type="text" [formControl]="controls.name" class="form-control">
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.stock_id.invalid && (controls.stock_id.touched || showValid))}">
              <label class="input-label">Kho</label>
              <select class="form-control" [formControl]="controls.stock_id" [ngClass]="{'loading':stockData.loading}">
                <option value="">Không</option>
                <option *ngFor="let item of stockData.items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.date.invalid && (controls.date.touched || showValid))}">
              <label class="input-label">Ngày nhập</label>
              <div class="input-group">
                <input type="text" [formControl]="controls.date" bsDatepicker [bsConfig]="bsConfig" #date="bsDatepicker" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" (click)="date.toggle()" [attr.aria-expanded]="date.isOpen"><span class="ic_timetable"></span></span>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="input-label">Ghi chú</label>
              <textarea name="note" [formControl]="controls.note" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </form>
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col-12 col-sm"><h4 class="m-0">Danh sách sản phẩm</h4></div>
              <div class="col-auto">
                <div class="d-flex align-items-center">
                  <div class="btn-group dropdown" dropdown (onShown)="onShown()" #dropdown="bs-dropdown" placement="bottom right" [insideClick]="true">
                    <input dropdownToggle type="text" class="form-control" style="min-width: 350px" placeholder="Tìm sản phẩm">
                    <div *dropdownMenu class="dropdown-menu bs-dropdown-menu">
                      <div class="bs-searchbox"><input #inputElement type="text" [(ngModel)]="data.data.q" class="form-control" (keyup)="onFilter($event)" placeholder="Gõ để tìm kiếm..."></div>
                      <div class="bs-innerbox">
                        <ul class="dropdown-menu inner">
                          <li *ngIf="data.loading" class="text-center">
                            <div class="spinner-border"><span class="sr-only">Loading...</span></div>
                          </li>
                          <li *ngFor="let item of data.items"><a (click)="addProduct(item);dropdown.isOpen=false"><span [innerText]="item.idx"></span> - <span [innerText]="item.name"></span></a></li>
                        </ul>
                      </div>
                      <div *ngIf="data.data.q && !data.loading && !data.items.length" class="bs-status">Không tìm thấy kết quả nào</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>Stt</th>
                <th>Mã</th>
                <th>Tên sản phẩm</th>
                <th style="width: 86px;">Cây</th>
                <th style="width: 86px;">Trọng lượng</th>
                <th style="width: 1px"></th>
              </tr>
              </thead>
              <tbody class="text-dark">
              <tr *ngFor="let item of products; let $index = index">
                <td><span class="form-control-plaintext">{{ $index + 1 }}</span></td>
                <td><span class="form-control-plaintext">{{ item.idx }}</span></td>
                <td><span class="form-control-plaintext">{{ item.name }}</span></td>
                <td><input type="number" [(ngModel)]="item.quantity" min="1" class="form-control" style="width: 70px"></td>
                <td><span class="form-control-plaintext">{{ (item.quantity * item.weight)|number }}kg</span></td>
                <td><a class="btn btn-sm btn-danger" (click)="removeProduct(item)" title="Xóa" href="javascript:;"><span class="ic ic_close"></span></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr class="hr-bill">
        <div class="d-flex justify-content-end">
          <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-primary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>
