<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="!info"><span>Thêm sản phẩm</span></span>
          <span *ngIf="info">Cập nhật sản phẩm</span>
        </h4>
        <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form class="pt-3" novalidate [formGroup]="form">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.model.invalid && (controls.model.touched || showValid))}">
                  <label class="input-label">Mã</label>
                  <input name="model" type="text" [formControl]="controls.model" class="form-control">
                </div>
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.unit.invalid && (controls.unit.touched || showValid))}">
                  <label class="input-label">ĐVT</label>
                  <input name="unit" type="text" [formControl]="controls.unit" class="form-control" placeholder="VD: hộp, chai, ...">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                <label class="input-label">Tên</label>
                <input name="name" type="text" [formControl]="controls.name" class="form-control">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group" *ngIf="modal.isShown">
                <label class="input-label">Hình (16:9)</label>
                <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (controls.category_id.invalid && (controls.category_id.touched || showValid))}">
                <label class="input-label">Danh mục</label>
                <select class="form-control" [formControl]="controls.category_id" [ngClass]="{'loading':categoryData.loading}">
                  <option value="">Không</option>
                  <ng-container *ngFor="let item of categoryData.items">
                    <option [value]="item.id">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (controls.manufacturer_id.invalid && (controls.manufacturer_id.touched || showValid))}">
                <label class="input-label">Nhà cung cấp</label>
                <select class="form-control" [formControl]="controls.manufacturer_id" [ngClass]="{'loading':manufacturerData.loading}">
                  <option value="">Không</option>
                  <option *ngFor="let item of manufacturerData.items" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (controls.price.invalid && (controls.price.touched || showValid))}">
                <label class="input-label">Đơn giá</label>
                <input ngxCurrency type="number" [formControl]="controls.price" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-2">
              <label class="input-label">Tình trạng</label>
              <select name="stock_status" [formControl]="controls.stock_status" class="form-control">
                <option value="in_stock">Sẵn hàng</option>
                <option value="out_of_stock">Hết hàng</option>
                <option value="pre_order">Đặt trước</option>
              </select>
            </div>
            <div class="form-group col-sm-2">
              <label class="input-label">Trạng thái</label>
              <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.short_description.invalid && (controls.short_description.touched || showValid))}">
            <label class="input-label">Mô tả ngắn (đơn hàng)</label>
            <textarea [formControl]="controls.short_description" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.description.invalid && (controls.description.touched || showValid))}">
            <label class="input-label">Thông tin sản phẩm</label>
            <textarea ngxEditor name="description" [formControl]="controls.description" class="form-control"></textarea>
          </div>
          <ng-container *ngIf="!(info && langData.items.length)">
            <div class="d-flex justify-content-end" style="position: sticky; bottom: 0; padding:15px 0; background: #ffffff; z-index: 9">
              <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
            </div>
          </ng-container>
          <ng-container *ngIf="(info && langData.items.length)">
            <div class="d-flex justify-content-end" style="position: sticky; bottom: 0; padding:15px 0; background: #ffffff; z-index: 9">
              <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
              <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'|translate">Cập nhật & thoát</span></button>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
