<div class="mt-5">
  <div class="card card-hover-shadow h-100 overflow-hidden">
    <div class="row no-gutters justify-content-between align-items-center p-4 border-bottom">
      <div class="col-sm"><div class="h4 mb-0 text-muted">Bảng danh sách doanh thu theo đơn hàng</div></div>
      <div class="col-sm-auto d-flex">
        <div class="card-header-content-between border-bottom-0 mr-2">
          <ul class="nav nav-segment" id="expensesTab" role="tablist">
            <li class="nav-item"><a class="nav-link" (click)="onSelectTab('all')" [ngClass]="{'active': myTabs.all}" href="javascript:;">Tất cả</a></li>
            <li class="nav-item"><a class="nav-link" (click)="onSelectTab('bank_transfer')" [ngClass]="{'active': myTabs.bank_transfer}" href="javascript:;">Chuyển khoản</a></li>
            <li class="nav-item"><a class="nav-link" (click)="onSelectTab('cod')" [ngClass]="{'active': myTabs.cod}" href="javascript:;">COD</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th [hidden]="!columns.idx" (click)="sortBy('idx')" [attr.class]="sortClass('idx')">Mã hóa đơn <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.created_at" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Ngày tạo <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.user">Khách hàng</th>
            <th [hidden]="!columns.user_no">Mã KH</th>
            <th [hidden]="!columns.user_email">Email</th>
            <th [hidden]="!columns.user_phone_number">Số điện thoại</th>
            <th [hidden]="!columns.user_address">Địa chỉ</th>
            <th [hidden]="!columns.sub_total" (click)="sortBy('sub_total')" [attr.class]="sortClass('sub_total')">Tạm tính <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.total" (click)="sortBy('total')" [attr.class]="sortClass('total')">Tổng tiền <span class="sort-indicator"></span></th>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="0" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <td [hidden]="!columns.idx" [innerText]="item.idx"></td>
              <td [hidden]="!columns.created_at" [innerText]="item.created_at|formatDate"></td>
              <td [hidden]="!columns.user"><img *ngIf="item.display" src="{{item.user?.avatar_url}}" width="30" height="30" class="mr-1 rounded-circle"><span [innerText]="item.display || ''"></span></td>
              <td [hidden]="!columns.user_no" [innerText]="item.user?.no"></td>
              <td [hidden]="!columns.user_email" [innerText]="item.email"></td>
              <td [hidden]="!columns.user_phone_number" [innerText]="item.phone_number"></td>
              <td [hidden]="!columns.user_address" [innerText]="item.shipping_address_1 + ', ' + item.shipping_ward + ', ' + item.shipping_district + ', ' + item.shipping_province"></td>
              <td [hidden]="!columns.sub_total" [innerText]="item.sub_total|currencyFormat"></td>
              <td [hidden]="!columns.total" [innerText]="item.total|currencyFormat"></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
