<div class="mt-5">
  <div class="card card-hover-shadow h-100 overflow-hidden">
    <div class="row no-gutters justify-content-between align-items-center p-4 border-bottom">
      <div class="col-sm"><div class="h4 mb-0 text-muted">Bảng danh sách doanh thu theo sản phẩm</div></div>
      <div class="col-sm-auto"></div>
    </div>
    <div class="">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px" class="border-bottom-0">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th [hidden]="!columns.model" (click)="sortBy('model')" [attr.class]="sortClass('model')" class="border-bottom-0">Mã sp <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.name" class="border-bottom-0">Tên sản phẩm</th>
            <th [hidden]="!columns.category" class="border-bottom-0">Danh mục</th>
            <th [hidden]="!columns.quantity" (click)="sortBy('total_quantity')" [attr.class]="sortClass('total_quantity')" class="border-bottom-0">Số lượng bán <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.total" (click)="sortBy('total_total')" [attr.class]="sortClass('total_total')" class="border-bottom-0">Tổng tiền <span class="sort-indicator"></span></th>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="0" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <td [innerText]="item.product?item.product.model:item.model"></td>
              <td [hidden]="!columns.name" [innerText]="item.name"></td>
              <td [hidden]="!columns.category" [innerText]="item.category?.name"></td>
              <td [hidden]="!columns.quantity" [innerText]="item.total_quantity|number"></td>
              <td [hidden]="!columns.total" [innerText]="item.total_total|currencyFormat"></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

</div>
