<div class="row gx-2 gx-lg-3 h-100 mt-5">
  <div class="col-sm-6 mb-3">
    <div class="card card-hover-shadow h-100">
      <div class="p-2">
        <div class="row align-items-start">
          <div class="col-sm">
            <h6 class="text-uppercase text-muted">Tổng đơn hàng</h6>
            <span class="h1 lh-1">{{ statData.order_total.now|number }}</span>
          </div>
          <div class="col-sm-auto text-sm-right">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card card-hover-shadow h-100">
      <div class="p-2">
        <div class="row align-items-start">
          <div class="col-sm">
            <h6 class="text-uppercase text-muted">Đơn hủy</h6>
            <span class="h1 lh-1">{{ statData.order_cancel_total.now|number }}</span>
          </div>
          <div class="col-sm-auto text-sm-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
