.path--checkout-cart {
  .wid_gift {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23{{ global.config_color_primary|replace({'#':''}) }}' stroke-width='4' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    background-color: #FAF7F4;
  }
  .quantity {
    .btn {
      &:hover {
        background-color: #0f1f2a;
        border-color: #0f1f2a !important;
        color: #fff;
      }
    }
    @media (max-width: 1279px) {
      .form-control {
        flex: 0 !important;
      }
    }
  }
  .empty_product {
    min-height: 65vh;
  }
  @media (max-width: 1279px) {
    .quantity .form-control {
      flex: 0 !important;
    }
    .section_dot {
      height: 40px !important;
    }
    .cart_payment_info {
      border: 0 !important;
    }
  }
}
