<div class="card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center flex-grow-1">
      <div class="col-sm">
        <h4 class="card-title m-0">Đơn hàng</h4>
      </div>
      <div class="col-sm-auto">
        <div class="d-flex align-items-center">
          <div class="btn-group dropdown" dropdown container="body" placement="bottom right" [insideClick]="true">
            <button dropdownToggle class="btn btn-outline-secondary dropdown-toggle"><span class="ic_visible_outlined mr-1"></span>Hiển thị</button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-default dropdown-menu-right">
              <div class="dropdown-item" *ngFor="let item of columnList">
                <div class="custom-control custom-checkbox"><input type="checkbox" [attr.id]="'columnShow'+item.id" [(ngModel)]="item.checkbox" class="custom-control-input" [disabled]="item.disabled" (change)="columnCheckbox()"><label [attr.for]="'columnShow'+item.id" class="custom-control-label" [innerText]="item.name"></label></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div></th>
        <th>Stt</th>
        <th>Mã hóa đơn</th>
        <th [hidden]="!columns.type">Sản phẩm/dịch vụ</th>
        <th [hidden]="!columns.total" (click)="sortBy('total')" [attr.class]="sortClass('total')">Số tiền <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.created_at" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Thời gian <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.supervisor">Phụ trách</th>
        <th style="width: 1px"></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading"><td colspan="8" class="text-center"><div class="spinner-border"><span class="sr-only">Loading...</span></div></td></tr>
      <tr *ngFor="let item of data.items; let $index = index">
        <td><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'customSelect'+$index"></label></div></td>
        <td>{{ item.index + 1 }}</td>
        <td>
          <a href="javascript:" (click)="select(item)" class="d-block text-nowrap">{{ item.no }}</a>
          <div class="row-options">
            <a href="javascript:" (click)="detail(item)">Chi tiết</a>&nbsp; | &nbsp;<a href="javascript:" (click)="remove(item)" class="text-danger">Xóa</a>
          </div>
        </td>
        <td [hidden]="!columns.type">
          <a href="javascript:" class="d-block">{{item.name}}</a>
          <span class="badge border border-info" *ngIf="item.type=='activity'">Activities</span>
          <span class="badge border border-info" *ngIf="item.type=='exhibit'">Exhibition</span>
          <span class="badge border border-info" *ngIf="item.type=='product'">Boutiques</span>
        </td>
        <td [hidden]="!columns.total">{{ item.total|currencyFormat }}</td>
        <td [hidden]="!columns.created_at">{{ item.created_at|formatDate }}</td>
        <td [hidden]="!columns.supervisor">
        </td>
        <td [hidden]="!columns.status"><span class="s-status" [ngClass]="item.status">{{item.order_status_name}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
  </div>
</div>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
