<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="!info">Thêm kho</span>
            <span *ngIf="info">Cập nhật kho</span>
          </h4>
          <a class="close" (click)="hide()"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="input-label">Hình</label>
                <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.idx.invalid && (controls.idx.touched || showValid))}">
                  <label class="input-label">Mã kho</label>
                  <input name="idx" type="text" [formControl]="controls.idx" class="form-control">
                </div>
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                  <label class="input-label">Tên kho</label>
                  <input name="name" type="text" [formControl]="controls.name" class="form-control">
                </div>
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.type_id.invalid && (controls.type_id.touched || showValid))}">
                  <label class="input-label">Loại kho</label>
                  <select name="type_id" [formControl]="controls.type_id" class="form-control">
                    <option value="">Không</option>
                    <option *ngFor="let item of typeData.items" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="col-sm-6 form-group" [ngClass]="{'has-error': (controls.phone_number.invalid && (controls.phone_number.touched || showValid))}">
                  <label class="input-label">Số điện thoại</label>
                  <input name="phone_number" type="text" [formControl]="controls.phone_number" class="form-control">
                </div>
              </div>
            </div>

            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.province_id.invalid && (controls.province_id.touched || showValid))}">
              <label class="input-label">Tỉnh/thành</label>
              <select class="form-control" [formControl]="controls.province_id" (change)="onProvinceChange()" [ngClass]="{'loading':provinceData.loading}">
                <option value="">Không</option>
                <option *ngFor="let item of provinceData.items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.district_id.invalid && (controls.district_id.touched || showValid))}">
              <label class="input-label">Quận/huyện</label>
              <select class="form-control" [formControl]="controls.district_id" (change)="onDistrictChange()" [ngClass]="{'loading':districtData.loading}">
                <option value="">Không</option>
                <option *ngFor="let item of districtData.items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.ward_id.invalid && (controls.ward_id.touched || showValid))}">
              <label class="input-label">Phường/xã</label>
              <select class="form-control" [formControl]="controls.ward_id" [ngClass]="{'loading':wardData.loading}">
                <option value="">Không</option>
                <option *ngFor="let item of wardData.items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.address.invalid && (controls.address.touched || showValid))}">
              <label class="input-label">Địa chỉ</label>
              <input name="address" type="text" [formControl]="controls.address" class="form-control">
            </div>
            <div class="col-sm-12 form-group" [ngClass]="{'has-error': (controls.default_place.invalid && (controls.default_place.touched || showValid))}">
              <label class="input-label">Tỉnh/thành mặc định giao từ kho này</label>
              <tag-input [(ngModel)]="default_place" [ngModelOptions]="{standalone: true}"
                         [onlyFromAutocomplete]="true"
                         (onAdd)="onItemPlaceAdded($event)"
                         [placeholder]="'+ Thêm Tỉnh/thành'"
                         [secondaryPlaceholder]="'Hà Nội, Hồ Chí Minh, ...'">
                <tag-input-dropdown [autocompleteItems]="provinceData.items" [identifyBy]="'id'" [displayBy]="'name'">
                </tag-input-dropdown>
              </tag-input>

            </div>

            <div class="col-sm-12 form-group" [ngClass]="{'has-error': (controls.description.invalid && (controls.description.touched || showValid))}">
              <label class="input-label">Mô tả</label>
              <textarea name="description" [formControl]="controls.description" rows="3" class="form-control"></textarea>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.manager_id.invalid && (controls.manager_id.touched || showValid))}">
              <label class="input-label">Quản kho</label>
              <select name="manager_id" [formControl]="controls.manager_id" class="form-control">
                <option value="">Không</option>
                <option *ngFor="let item of staffData.items" [value]="item.id">{{ item.display }}</option>
              </select>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.keeper_ids.invalid && (controls.keeper_ids.touched || showValid))}">
              <label class="input-label">Thủ kho</label>
              <select name="keeper_ids" [formControl]="controls.keeper_ids" class="form-control">
                <option value="">Không</option>
                <option *ngFor="let item of staffData.items" [value]="item.id">{{ item.display }}</option>
              </select>
            </div>
            <div class="col-sm-3 form-group" [ngClass]="{'has-error': (controls.seller_ids.invalid && (controls.seller_ids.touched || showValid))}">
              <label class="input-label">Phân quyền bán hàng</label>
              <select name="seller_ids" [formControl]="controls.seller_ids" class="form-control">
                <option value="">Không</option>
                <option *ngFor="let item of staffData.items" [value]="item.id">{{ item.display }}</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info">Thêm</span><span *ngIf="info">Cập nhật</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
