<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span [innerText]="!info?'Thêm':'Cập nhật'"></span> dịch vụ đi kèm</h4>
        <a (click)="hide()" href="javascript:" class="close"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <tabset #formTabs>
          <tab>
            <ng-template tabHeading>Mặc định</ng-template>
            <form class="pt-3" novalidate [formGroup]="form">
              <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                <label class="input-label">Tên</label>
                <input name="name" type="text" [formControl]="controls.name" class="form-control">
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.long_name.invalid && (controls.long_name.touched || showValid))}">
                <label class="input-label">Tên dài</label>
                <input name="long_name" type="text" [formControl]="controls.long_name" class="form-control">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'has-error': (controls.model.invalid && (controls.model.touched || showValid))}">
                    <label class="input-label">Mã</label>
                    <input name="model" type="text" [formControl]="controls.model" class="form-control">
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (controls.price.invalid && (controls.price.touched || showValid))}">
                    <label class="input-label">Đơn giá</label>
                    <input ngxCurrency type="number" [formControl]="controls.price" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" *ngIf="modal.isShown">
                    <label class="input-label">Hình (16:9)</label>
                    <div style="width: 171px;">
                      <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="input-label">Cân nặng (gram)</label>
                  <input type="number" [formControl]="controls.weight" [min]="0" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                  <label class="input-label">Kích thước (DxRxC) (mm)</label>
                  <div class="input-group">
                    <input type="number" [formControl]="controls.length" [min]="0" placeholder="chiều dài" class="form-control">
                    <input type="number" [formControl]="controls.width" [min]="0" placeholder="chiều rộng" class="form-control">
                    <input type="number" [formControl]="controls.height" [min]="0" placeholder="chiều cao" class="form-control">
                  </div>
                </div>
                <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.status.invalid && (controls.status.touched || showValid))}">
                  <label class="input-label">Trạng thái</label>
                  <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
                </div>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.description.invalid && (controls.description.touched || showValid))}">
                <label class="input-label" [innerText]="'Mô tả'">Mô tả</label>
                <textarea ngxEditor name="description" [formControl]="controls.description" class="form-control"></textarea>
              </div>
              <ng-container *ngIf="!(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'">Cập nhật</span></button>
                </div>
              </ng-container>
              <ng-container *ngIf="(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'">Cập nhật</span></button>
                  <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'">Cập nhật & thoát</span></button>
                </div>
              </ng-container>
            </form>
          </tab>
          <ng-container *ngIf="info">
            <ng-container *ngFor="let item of langData.items; let $index = index">
              <tab (selectTab)="onSelectTab('language_' + $index)">
                <ng-template tabHeading><span [innerText]="item.name"></span></ng-template>
                <div *ngIf="tabs['language_' + $index]" class="pt-3">
                  <ngx-pd-gift-product-desc [setup]="{item:info,language:item}" (onSuccess)="onDescSuccess($event)"></ngx-pd-gift-product-desc>
                </div>
              </tab>
            </ng-container>
          </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
