<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="!info">Thêm khuyến mãi</span>
            <span *ngIf="info">Cập nhật khuyến mãi</span>
          </h4>
          <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group" [ngClass]="{'has-error': (controls.price.invalid && (controls.price.touched || showValid))}">
            <label class="input-label">Giá bán</label>
            <input ngxCurrency type="number" [formControl]="controls.price" class="form-control">
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.priority.invalid && (controls.priority.touched || showValid))}">
            <label class="input-label">Độ ưu tiên</label>
            <input name="priority" type="number" [formControl]="controls.priority" class="form-control">
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.start_date.invalid && (controls.start_date.touched || showValid))}">
            <label class="input-label">Ngày bắt đầu</label>
            <div class="input-group">
              <input type="text" [formControl]="controls.start_date" bsDatepicker [bsConfig]="bsConfig" #startDate="bsDatepicker" class="form-control">
              <div class="input-group-append"><span class="input-group-text" (click)="startDate.toggle()" [attr.aria-expanded]="startDate.isOpen"><span class="ic_timetable"></span></span></div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.end_date.invalid && (controls.end_date.touched || showValid))}">
            <label class="input-label">Ngày kết thúc</label>
            <div class="input-group">
              <input type="text" [formControl]="controls.end_date" bsDatepicker [bsConfig]="bsConfig" #endDate="bsDatepicker" class="form-control">
              <div class="input-group-append"><span class="input-group-text" (click)="endDate.toggle()" [attr.aria-expanded]="endDate.isOpen"><span class="ic_timetable"></span></span></div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" type="button" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info">Thêm</span><span *ngIf="info">Cập nhật</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
