<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Danh sách yêu cầu hỗ trợ'">Danh sách yêu cầu hỗ trợ</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;"><span [innerText]="'Khách hàng'">Khách hàng</span></a></li>
          <li class="breadcrumb-item active"><span [innerText]="'Yêu cầu hỗ trợ'">Yêu cầu hỗ trợ</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto d-none">
      <div class="btn-group mr-2" *ngIf="data.selectList.length">
        <div class="d-flex align-items-center">
          <span class="font-size-sm mr-3"><span [innerText]="data.selectList.length"></span> selected</span>
          <a class="btn btn-outline-danger" href="javascript:;" (click)="removeAll()"><span class="fa fa-trash mr-1"></span>Xóa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5" [ngClass]="{'col-md-5': data.itemSelected,'col-md-12': !data.itemSelected}">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
          <div class="col-12 col-sm">
            <div class="input-group input-group-merge input-group-borderless">
              <div class="input-group-prepend">
                <div class="input-group-text"><span class="ic_search"></span></div>
              </div>
              <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="data.data.q" (keyup)="onFilter($event)">
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                  </div>
                </div>
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th><span>Khách hàng</span></th>
            <th><span>Mã đơn hàng</span></th>
            <th><span [innerText]="'Loại yêu cầu'">Loại yêu cầu</span></th>
            <th><span [innerText]="'Nội dung'">Nội dung</span></th>
            <th><span [innerText]="'File đính kèm'">File đính kèm</span></th>
            <th><span [innerText]="'Đã phản hồi?'">Đã phản hồi?</span></th>
            <th (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')"><span>Ngày tạo</span> <span class="sort-indicator"></span></th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div style="min-width: 90px; max-width: 200px">
                <select [(ngModel)]="filters.status.value" (change)="onFilter($event)" class="form-control">
                  <option value="">Tất cả</option>
                  <ng-container *ngFor="let item of statusList">
                    <option [value]="item.id">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
            </td>
            <td></td>
          </tr>
          </thead>
          <tbody class="text-dark">
            <tr *ngIf="data.loading">
              <td colspan="8" class="text-center">
                <div class="spinner-border"><span class="sr-only">Loading...</span></div>
              </td>
            </tr>
            <ng-container *ngFor="let item of data.items; let $index = index">
              <tr [ngClass]="{'odd':$index%2==0,'even':$index%2==1}">
                <td>
                  <div class="table_tools d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center">
                      <div>
                        <div class="custom-control-wrapper">
                          <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                        </div>
                      </div>
                      <!--<div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>-->
                      <div>
                        <div class="dropdown" dropdown container="body" placement="bottom left">
                          <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                          <div *dropdownMenu class="dropdown-menu">
                            <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:;">Xóa</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                  </div>
                </td>
                <td style="white-space: nowrap">
                  <div class="d-flex align-items-center" *ngIf="item.user.avatar_url">
                    <img [src]="item.user.avatar_url" style="width: 30px; height: 30px; border-radius: 50%;">
                    <div class="ml-2"><span>{{ item.user.display }} <br> {{ item.phone_number }} <br> {{ item.user.email }} </span></div>
                  </div>
                </td>
                <td>{{ item.order_id }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.message }}</td>
                <td>
                  <a *ngIf="item.file_url" [ngxFileExtension]="item.file_url" [href]="item.file_url" target="_blank"></a>
                </td>
                <td>
                  <ngx-toggle-switch [(ngModel)]="item.status" (change)="changeProp(item, 'status')"></ngx-toggle-switch>
                </td>
                <td>{{ item.created_at|formatDate }}</td>
                <td [hidden]="!columns.updated_at||data.itemSelected">{{ item.updated_at|formatDate }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>
    </div>
  </div>
</div>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
