<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span>Danh mục</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;"><span [innerText]="'Sản phẩm'|translate">Sản phẩm</span></a></li>
          <li class="breadcrumb-item active"><span>Danh mục</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div></th>
        <th><span>Hình</span></th>
        <th><span>Tên</span></th>
        <th><span>Sắp xếp</span></th>
        <th class="text-center"><span>Trạng thái</span></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading"><td colspan="8" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td></tr>
      <tr *ngFor="let item of data.items; let i = index">
        <td>
          <div class="table_tools d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <div>
                <div class="custom-control-wrapper">
                  <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                </div>
              </div>
              <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
              <div>
                <div class="dropdown" dropdown container="body" placement="bottom left">
                  <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                  <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:">Xóa</a>
                  </div>
                </div>
              </div>
            </div>
            <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="i + 1"></span></div>
          </div>
        </td>
        <td>
          <ng-container *ngIf="item.thumb_url"><img [src]="item.thumb_url" style="width: 100px"></ng-container>
        </td>
        <td [innerText]="item.name"></td>
        <td class="text-center" [innerText]="item.sort_order"></td>
        <td class="text-center">
          <ngx-toggle-switch [(ngModel)]="item.status" (change)="changeProp(item, 'status')"></ngx-toggle-switch>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer"><ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2></div>
</div>
<ngx-pd-category-form (onSuccess)="onFormSuccess($event)"></ngx-pd-category-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
