<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Danh sách trang mẫu'|translate">Danh sách trang mẫu</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)"><span [innerText]="'Danh mục trang'|translate">Danh mục trang</span></a></li>
          <li class="breadcrumb-item active"><span [innerText]="'Trang mẫu'|translate">Trang mẫu</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="btn-group mr-2" *ngIf="data.itemSelected">
        <a class="btn btn-outline-secondary" (click)="toggleView()"><span class="ic_angle_right"></span></a>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5" [ngClass]="{'col-md-5': data.itemSelected,'col-md-12': !data.itemSelected}">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
          <div class="col-12 col-sm">
            <div class="input-group input-group-merge input-group-borderless">
              <div class="input-group-prepend">
                <div class="input-group-text"><span class="ic_search"></span></div>
              </div>
              <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="data.data.q" (keyup)="onFilter($event)">
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="btn-group mr-2">
                <select [(ngModel)]="data.data.category_id" (change)="onFilter($event)" class="form-control" [ngClass]="{'loading':categoryData.loading}">
                  <option value="">Tất cả</option>
                  <option *ngFor="let item of categoryData.items" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th>
              <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div>
            </th>
            <th>Stt</th>
            <th (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
            <th (click)="sortBy('name')" [attr.class]="sortClass('name')"><span>Tên</span> <span class="sort-indicator"></span></th>
            <th><span>Danh mục</span></th>
            <th><span>Ngày tạo</span></th>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="6" class="text-center">
              <div class="spinner-border"><span class="sr-only">Loading...</span></div>
            </td>
          </tr>
          <tr *ngFor="let item of data.items; let $index = index">
            <td>
              <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'customSelect'+$index"></label></div>
            </td>
            <td>{{ item.index + 1 }}</td>
            <td>{{ item.id }}</td>
            <td>
              <a href="javascript:void(0)" (click)="select(item)" class="d-block" style="min-width: 150px;">{{item.name}}</a>
              <div class="row-options">
                <a href="javascript:void(0)" (click)="edit(item)" [innerText]="'Sửa'|translate">Sửa</a>&nbsp; | &nbsp;<a href="javascript:void(0)" class="text-danger" (click)="remove(item)" [innerText]="'Xóa'|translate">Xóa</a>
              </div>
            </td>
            <td>{{ item.category?.name }}</td>
            <td>{{ item.created_at|formatDate }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>
    </div>
  </div>
  <div class="col-md-7" *ngIf="data.itemSelected">
    <div class="card">
      <tabset>
        <tab>
          <ng-template tabHeading><span [innerText]="'Danh sách module'|translate"></span></ng-template>
          <div class="card-body">
            <ngx-pg-ly-modules [layout]="data.itemSelected"></ngx-pg-ly-modules>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<ngx-pg-ly-form (onSuccess)="onFormSuccess($event)"></ngx-pg-ly-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
