<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Gửi biên lai cho khách hàng</h4>
        <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group" [ngClass]="{'has-error': (controls.email.invalid && (controls.email.touched || showValid))}">
            <label class="input-label">Gửi đến email</label>
            <input name="email" type="email" [formControl]="controls.email" class="form-control">
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.cc.invalid && (controls.cc.touched || showValid))}">
            <label class="input-label">CC</label>
            <input name="cc" type="text" [formControl]="controls.cc" class="form-control">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input name="attached" type="checkbox" class="custom-control-input" id="attachedCheck" [formControl]="controls.attached">
              <label class="custom-control-label" for="attachedCheck">Đính kèm file báo giá PDF</label>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.content.invalid && (controls.content.touched || showValid))}">
            <label class="input-label">Nội dung</label>
            <textarea name="content" [formControl]="controls.content" rows="3" class="form-control"></textarea>
          </div>
          <div class="d-flex align-items-center">
            <div class="ml-auto">
              <button class="btn btn-secondary" type="submit" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Gửi đi</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
