<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="!info">Thêm sản phẩm</span>
          <span *ngIf="info">Cập nhật sản phẩm</span>
        </h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <div>
          <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-12">
              <div class="btn-group dropdown mb-2 w-100" dropdown (onShown)="onShown()" #dropdown="bs-dropdown" placement="bottom right" [insideClick]="true">
                <input dropdownToggle type="text" class="form-control" style="min-width: 350px" placeholder="Tìm sản phẩm">
                <div *dropdownMenu class="dropdown-menu bs-dropdown-menu">
                  <div class="bs-searchbox"><input #inputElement type="text" [(ngModel)]="data.data.q" class="form-control" (keyup)="onFilter($event)" placeholder="Gõ để tìm kiếm..."></div>
                  <div class="bs-innerbox">
                    <ul class="dropdown-menu inner">
                      <li *ngIf="data.loading" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></li>
                      <li *ngFor="let item of data.items"><a (click)="addProduct(item);dropdown.isOpen=false"><span [innerText]="item.name"></span> (<span [innerText]="item.price|currencyFormat"></span>)</a></li>
                    </ul>
                  </div>
                  <div *ngIf="data.data.q && !data.loading && !data.items.length" class="bs-status">Không tìm thấy kết quả nào</div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th style="width: 1px">Stt</th>
                <th>Tên sản phẩm</th>
                <th style="width: 86px;">Số lượng</th>
                <th style="width: 1px"></th>
              </tr>
              </thead>
              <tbody class="text-dark">
              <tr *ngFor="let item of products; let $index = index">
                <td style="text-align: center;vertical-align: middle;" [innerText]="$index + 1"></td>
                <td><span style="min-width: 220px;"><input type="text" value="{{item.name}}" class="form-control" readonly></span></td>
                <td><input type="number" [(ngModel)]="item.quantity" (ngModelChange)="onProductChange(item)" min="1" class="form-control" style="width: 70px"></td>
                <td><a class="btn btn-sm btn-danger" (click)="removeProduct(item)" title="Xóa" href="javascript:;"><span class="ic ic_close"></span></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form novalidate [formGroup]="form">
          <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-secondary" type="button" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span><span [innerText]="'Cập nhật'">Cập nhật</span></button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
