{{ header }}
<div class="content main">
  <!-- <section id="fof" class="error404">
      <div class="container text-center">
          <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
          <h2>Error !<span>Page Not Found</span></h2>
          <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
          <p><a href="javascript:history.go(-1)">« Go Back</a> / <a href="/">To Home Page</a> / <a href="/contact">To Contact Page</a> / <a href="/about">To About Page »</a></p>
      </div>
  </section> -->
  <section id="fof" class="error404">
    <div class="container text-center mt-5 pt-5">
      <div class="heading heading--gradient--3">
        <h1 class="heading__title"><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
      </div>
      <div class="heading heading--gradient--1 heading--divider">
        <h2><span class="heading__title">WHAT ARE YOU LOOKING FOR?</span></h2>
        <p class="heading__desc">The info you are looking for may be taken away, go to <a href="/">home page</a> or <a href="/lien-he">contact us</a>?</p>
      </div>
    </div>
  </section>
</div>
{{ footer }}
