<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm-auto">
      <h1 class="page-header-title">Danh sách đơn hàng</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Giao dịch</li>
          <li class="breadcrumb-item active">Đơn hàng</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto ml-auto">
      <div class="btn-group mr-2" *ngIf="data.itemSelected"><a class="btn btn-outline-secondary" (click)="toggleView()"><span class="ic_angle_right"></span></a></div>
      <div class="btn-group mr-2">
        <button type="button" (click)="create()" class="btn btn-secondary d-flex align-items-center"><span class="mr-1 ic ic_plus"></span><span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5" [ngClass]="{'col-md-5': data.itemSelected,'col-md-12': !data.itemSelected}">
    <div class="card">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                  </div>
                </div>
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <ng-container *ngFor="let f of reorder">
              <th *ngIf="f=='id'" [hidden]="!columns[f]" (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
              <th *ngIf="f=='idx'" [hidden]="!columns[f]">Mã hóa đơn</th>
              <th *ngIf="f=='sub_total'" [hidden]="!columns[f]" (click)="sortBy('sub_total')" [attr.class]="sortClass('sub_total')">Tạm tính <span class="sort-indicator"></span></th>
              <th *ngIf="f=='total'" [hidden]="!columns[f]" (click)="sortBy('total')" [attr.class]="sortClass('total')">Tổng tiền <span class="sort-indicator"></span></th>
              <th *ngIf="f=='created_at'" [hidden]="!columns[f]||data.itemSelected" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Thời gian <span class="sort-indicator"></span></th>
              <th *ngIf="f=='customer'" [hidden]="!columns[f]||data.itemSelected">Khách hàng</th>
              <th *ngIf="f=='payment_status'" [hidden]="!columns[f]||data.itemSelected">Trạng thái<br>thanh toán</th>
              <th *ngIf="f=='order_status'" [hidden]="!columns[f]||data.itemSelected">Trạng thái<br>đơn hàng</th>
              <th *ngIf="f=='payment_at'" [hidden]="!columns[f]||data.itemSelected" (click)="sortBy('payment_at')" [attr.class]="sortClass('payment_at')">Ngày thanh toán <span class="sort-indicator"></span></th>
              <th *ngIf="f=='payment_method'" [hidden]="!columns[f]||data.itemSelected">Phương thức<br>thanh toán</th>
            </ng-container>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="13" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <ng-container *ngFor="let f of reorder">
                <td *ngIf="f=='id'" [hidden]="!columns[f]" [innerText]="item.id"></td>
                <td *ngIf="f=='idx'" [hidden]="!columns[f]"><a class="d-block" style="min-width: 150px; max-width: 350px" (click)="select(item)" href="javascript:" [innerText]="item.no"></a></td>
                <td *ngIf="f=='sub_total'" [hidden]="!columns[f]" [innerText]="item.sub_total|currencyFormat"></td>
                <td *ngIf="f=='total'" [hidden]="!columns[f]" [innerText]="item.total|currencyFormat"></td>
                <td *ngIf="f=='created_at'" [hidden]="!columns[f]||data.itemSelected"><span [innerText]="(item.created_at | formatDate: 'dd/mm/yyyy')"></span> <br> <small [innerText]="item.created_at|formatDate:'HH:MM'"></small></td>
                <td *ngIf="f=='customer'" [hidden]="!columns[f]||data.itemSelected">
                  <span [innerText]="item.display"></span>
                </td>
                <td *ngIf="f=='payment_status'" [hidden]="!columns[f]||data.itemSelected"><span *ngIf="item.payment_status" class="s-status" [ngClass]="item.payment_status" [innerText]="item.payment_status_name"></span></td>
                <td *ngIf="f=='order_status'" [hidden]="!columns[f]||data.itemSelected"><span *ngIf="item.order_status" class="s-status" [ngClass]="item.order_status" [innerText]="item.order_status_name"></span></td>
                <td *ngIf="f=='payment_at'" [hidden]="!columns[f]||data.itemSelected">{{ item.payment_at|formatDate }}</td>
                <td *ngIf="f=='payment_method'" [hidden]="!columns[f]||data.itemSelected"><span *ngIf="item.payment_method" [innerText]="item.payment_method"></span></td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div class="col-md-7" *ngIf="data.itemSelected">
    <div class="card">
      <tabset class="tabcard_right">
        <tab (selectTab)="onSelectTab($event, 'info')">
          <ng-template tabHeading>Thông tin</ng-template>
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col-sm mb-2">
                <div>
                  <div class="btn-group text-nowrap">
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.payment_status=='in_process'}">Đang thanh toán</button>
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.payment_status=='paid'}" (click)="changePaymentStatus(data.itemSelected, 'paid')">Đã thanh toán</button>
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.payment_status=='canceled'}" (click)="changePaymentStatus(data.itemSelected, 'canceled')">Hủy thanh toán</button>
                  </div>
                </div>
                <div class="mt-1">
                  <div class="btn-group text-nowrap">
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.order_status=='pending'}">Chờ xác nhận</button>
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.order_status=='processing'}" (click)="changeOrderStatus(data.itemSelected, 'processing')">Đang xử lý</button>
                    <!--<button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.order_status=='shipping'}" (click)="changeOrderStatus(data.itemSelected, 'shipping')">Đang giao hàng</button>-->
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.order_status=='completed'}" (click)="changeOrderStatus(data.itemSelected, 'completed')">Hoàn tất</button>
                    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':data.itemSelected.order_status=='canceled'}" (click)="changeOrderStatus(data.itemSelected, 'canceled')">Hủy đơn</button>
                  </div>
                </div>
                <!--<div *ngIf="!data.itemSelected.shipping && data.itemSelected.sto_request_id" class="mt-1">
                  <ng-container *ngIf="!data.itemSelected.shipping">
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-primary" (click)="createShipping(data.itemSelected)">Tạo đơn vận chuyển</button>
                    </div>
                  </ng-container>
                </div>-->
              </div>
              <div class="col-sm-auto mb-2">
                <div class="d-flex align-items-center">\
                </div>
              </div>
            </div>
            <hr>
            <ngx-ord-detail [item]="data.itemSelected"></ngx-ord-detail>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<ngx-ord-frm-product (onSuccess)="onFormProductSuccess($event)"></ngx-ord-frm-product>
<ngx-ord-frm-order-status (onSuccess)="onOrderStatusSuccess($event)"></ngx-ord-frm-order-status>
<ngx-ord-dlg-notify (onSuccess)="onSendMailSuccess($event)"></ngx-ord-dlg-notify>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
