<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Danh sách sản phẩm <b class="text-primary" [innerText]="info?.idx"></b></h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <div class="card mb-3">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>Stt</th>
                <th>Danh mục hàng hóa</th>
                <th>ĐVT</th>
                <th>Đơn giá<br><em class="font-weight-normal">vnđ</em></th>
                <th style="width: 86px;">Số lượng<br>chứng từ</th>
                <th style="width: 86px;">Số lượng<br>thực xuất</th>
                <th>Thành tiền<br><em class="font-weight-normal">vnđ</em></th>
                <th>Lô</th>
                <th>Ngày hết hạn</th>
                <th>Mã vị trí</th>
              </tr>
              </thead>
              <tbody class="text-dark">
              <tr *ngFor="let item of info?.products; let $index = index" >
                <td><span class="form-control-plaintext" [innerText]="$index + 1"></span></td>
                <td><span class="form-control-plaintext"><b>({{item.idx || item.model}})</b> {{item.name}}</span></td>
                <td><span class="form-control-plaintext" [innerText]="item.unit || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="(item.price|currencyFormat) || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="item.ord_quantity || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="item.quantity || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="(item.price*item.quantity)|currencyFormat"></span></td>
                <td><span class="form-control-plaintext" [innerText]="item.shipment || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="(item.due_date|formatDate) || ''"></span></td>
                <td><span class="form-control-plaintext" [innerText]="item.code || ''"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" (click)="hide()" class="btn btn-secondary">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>
