<div class="page-header no-gutter mb-5">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Danh sách kho</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Kho vận</a></li>
          <li class="breadcrumb-item active">Danh sách kho</li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
      <div class="btn-group">
        <button type="button" (click)="create()" class="btn btn-primary d-flex align-items-center"><span class="mr-1 ic ic_plus"></span><span>Thêm</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th style="width: 1px">
          <div class="table_tools d-flex justify-content-between align-items-center">
            <div>
              <div class="custom-control-wrapper">
                <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
              </div>
            </div>
            <div>&nbsp;&nbsp;Stt</div>
          </div>
        </th>
        <ng-container *ngFor="let f of reorder">
          <th *ngIf="f=='id'" [hidden]="!columns[f]" (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
          <th *ngIf="f=='image'" [hidden]="!columns[f]">Hình</th>
          <th *ngIf="f=='idx'" [hidden]="!columns[f]">Mã kho</th>
          <th *ngIf="f=='name'" [hidden]="!columns[f]" (click)="sortBy('sub_total')" [attr.class]="sortClass('sub_total')">Tên kho <span class="sort-indicator"></span></th>
          <th *ngIf="f=='description'" [hidden]="!columns[f]" (click)="sortBy('discount_total')" [attr.class]="sortClass('discount_total')">Mô tả</th>
          <th *ngIf="f=='type_id'" [hidden]="!columns[f]">Loại kho</th>
          <th *ngIf="f=='phone_number'" [hidden]="!columns[f]" (click)="sortBy('total')" [attr.class]="sortClass('total')">Số điện thoại</th>
          <th *ngIf="f=='province_id'" [hidden]="!columns[f]||data.itemSelected" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Tỉnh/thành</th>
          <th *ngIf="f=='district_id'" [hidden]="!columns[f]||data.itemSelected">Quận/huyện</th>
          <th *ngIf="f=='ward_id'" [hidden]="!columns[f]||data.itemSelected">Phường/xã</th>
          <th *ngIf="f=='address'" [hidden]="!columns[f]">Địa chỉ</th>
          <th *ngIf="f=='manager_id'" [hidden]="!columns[f]">Quản kho</th>
          <th *ngIf="f=='keeper_ids'" [hidden]="!columns[f]||data.itemSelected">Thủ kho</th>
          <th *ngIf="f=='seller_ids'" [hidden]="!columns[f]||data.itemSelected">Phân quyền bán hàng</th>
          <th *ngIf="f=='default_place'" [hidden]="!columns[f]||data.itemSelected">Tỉnh/thành mặc định giao từ kho này</th>
        </ng-container>
      </tr>
      <tr>
        <td>
          <div class="dropdown" dropdown container="body" placement="bottom left" [insideClick]="true">
            <button type="button" dropdownToggle class="btn btn-secondary dropdown-toggle no_arrow d-flex align-items-center"><span class="mr-1 ic ic_visible_outlined"></span><span>Hiển thị</span></button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
              <div class="js-sortable" [sortablejs]="columnList" [sortablejsOptions]="optReorder">
                <div class="dropdown-item" *ngFor="let item of columnList">
                  <div class="custom-control custom-checkbox"><input type="checkbox" [attr.id]="'columnShow'+item.id" [(ngModel)]="item.checkbox" class="custom-control-input" [disabled]="item.disabled" (change)="columnCheckbox()"><label [attr.for]="'columnShow'+item.id" class="custom-control-label d-block" [innerText]="item.name" style="cursor: grab"></label></div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center text-primary" (click)="columnReset()" href="javascript:;"><i class="fa fa-refresh pr-1"></i> Phục hồi</a>
            </div>
          </div>
        </td>
        <ng-container *ngFor="let f of reorder">
          <td *ngIf="f=='id'" [hidden]="!columns[f]"></td>
          <td *ngIf="f=='image'" [hidden]="!columns[f]"></td>
          <td *ngIf="f=='idx'" [hidden]="!columns[f]"><span class="d-block" style="min-width: 100px; max-width: 200px"><input type="text" [(ngModel)]="data.data.idx" (keyup)="onFilter($event)" class="form-control"></span></td>
          <td *ngIf="f=='name'" [hidden]="!columns[f]"><span class="d-block" style="min-width: 100px; max-width: 200px"><input type="text" [(ngModel)]="data.data.name" (keyup)="onFilter($event)" class="form-control"></span></td>
          <td *ngIf="f=='description'" [hidden]="!columns[f]"></td>
          <td *ngIf="f=='type_id'" [hidden]="!columns[f]"></td>
          <td *ngIf="f=='phone_number'" [hidden]="!columns[f]||data.itemSelected"></td>
          <td *ngIf="f=='province_id'" [hidden]="!columns[f]||data.itemSelected"><span class="d-block" style="min-width: 100px; max-width: 200px"><input type="text" [(ngModel)]="data.data.q" (keyup)="onFilter($event)" class="form-control"></span></td>
          <td *ngIf="f=='district_id'" [hidden]="!columns[f]||data.itemSelected"></td>
          <td *ngIf="f=='ward_id'" [hidden]="!columns[f]"></td>
          <td *ngIf="f=='address'" [hidden]="!columns[f]"><span class="d-block" style="min-width: 100px; max-width: 200px"><input type="text" [(ngModel)]="data.data.tags" (keyup)="onFilter($event)" class="form-control"></span></td>
          <td *ngIf="f=='manager_id'" [hidden]="!columns[f]||data.itemSelected"></td>
          <td *ngIf="f=='keeper_ids'" [hidden]="!columns[f]||data.itemSelected"></td>
          <td *ngIf="f=='seller_ids'" [hidden]="!columns[f]||data.itemSelected"> </td>
          <td *ngIf="f=='default_place'" [hidden]="!columns[f]||data.itemSelected"></td>
        </ng-container>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading">
        <td colspan="0" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
      </tr>
      <ng-container *ngFor="let item of data.items; let $index = index">
        <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
          <td>
            <div class="table_tools d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-start align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                  </div>
                </div>
                <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
                <div>
                  <div class="dropdown" dropdown container="body" placement="bottom left">
                    <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                    <div *dropdownMenu class="dropdown-menu">
                      <a class="dropdown-item" (click)="detail(item)" href="javascript:;">Chi tiết</a>
                      <!--<div class="dropdown-divider"></div>-->
                      <!--<a class="dropdown-item" (click)="changeSupervisor(item)" href="javascript:;"><span>Gán người phụ trách</span></a>-->
                      <div class="dropdown-divider"></div>
                      <!--<ng-container *ngIf="(item.is_invoice&&!item.invoiced&&item.order_status=='completed')">
                        <a class="dropdown-item" (click)="changeInvoiced(item)" href="javascript:;"><span>Xuất VAT</span></a>
                        <div class="dropdown-divider"></div>
                      </ng-container>-->
                      <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:">Xóa</a>
                    </div>
                  </div>
                </div>
              </div>
              <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
            </div>
          </td>
          <ng-container *ngFor="let f of reorder">
            <td *ngIf="f=='id'" [hidden]="!columns[f]" [innerText]="item.id"></td>
            <td *ngIf="f=='image'" [hidden]="!columns[f]"><span class="embed-responsive embed-responsive-1by1"><img src="{{item.small_url}}" alt="" class="embed-responsive-item img-fluid" style="height: 50px; object-fit: cover"></span></td>
            <td *ngIf="f=='idx'" [hidden]="!columns[f]"><a class="d-block" style="min-width: 150px; max-width: 350px" (click)="select(item)" href="javascript:" [innerText]="item.idx"></a></td>
            <td *ngIf="f=='name'" [hidden]="!columns[f]" [innerText]="item.name"></td>
            <td *ngIf="f=='description'" [hidden]="!columns[f]" [innerText]="item.description"></td>
            <td *ngIf="f=='type_id'" [hidden]="!columns[f]"><span class="font-weight-bold" [ngStyle]="{'color': item.types?.color}" [innerText]="item.types?.name || ''"></span></td>
            <td *ngIf="f=='phone_number'" [hidden]="!columns[f]" [innerText]="item.phone_number"></td>
            <td *ngIf="f=='province_id'" [hidden]="!columns[f]" [innerText]="item.province_name || ''"></td>
            <td *ngIf="f=='district_id'" [hidden]="!columns[f]" [innerText]="item.district_name || ''"></td>
            <td *ngIf="f=='ward_id'" [hidden]="!columns[f]" [innerText]="item.ward_name || ''"></td>
            <td *ngIf="f=='address'" [hidden]="!columns[f]" [innerText]="item.address"></td>
            <td *ngIf="f=='manager_id'" [hidden]="!columns[f]" [innerText]="item.manager_id"></td>
            <td *ngIf="f=='keeper_ids'" [hidden]="!columns[f]" [innerText]="item.keeper_ids"></td>
            <td *ngIf="f=='seller_ids'" [hidden]="!columns[f]" [innerText]="item.seller_ids"></td>
            <td *ngIf="f=='default_place'" [hidden]="!columns[f]"><span class="badge badge-dark mr-1" *ngFor="let p of item.default_places" [innerText]="p.name"></span></td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
  </div>
</div>
<ngx-sto-form (onSuccess)="onFormSuccess($event)"></ngx-sto-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
