<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Danh sách dịch vụ đi kèm'">Danh sách dịch vụ đi kèm</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><span>Sản phẩm</span></li>
          <li class="breadcrumb-item active"><span [innerText]="'Sản phẩm đi kèm'">Sản phẩm đi kèm</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="btn-group mr-2" *ngIf="data.selectList.length">
        <div class="d-flex align-items-center">
          <span class="fs-sm mr-3">Chọn <span [innerText]="data.selectList.length"></span> dòng</span>
          <a class="btn btn-outline-danger" (click)="removeAll()" href="javascript:;"><span class="fa fa-trash mr-1"></span>Xóa</a>
        </div>
      </div>
      <div class="btn-group mr-2" *ngIf="data.itemSelected">
        <a class="btn btn-outline-secondary" (click)="toggleView()"><span class="ic_angle_right"></span></a>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span [innerText]="'Thêm mới'">Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5" [ngClass]="{'col-md-5': data.itemSelected,'col-md-12': !data.itemSelected}">
    <div class="card">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                  </div>
                </div>
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.name" (click)="sortBy('name')" [attr.class]="sortClass('name')"><span>Tên</span> <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.price"><span [innerText]="'Giá bán'">Giá bán</span></th>
            <th [hidden]="!columns.status||data.itemSelected" (click)="sortBy('status')" [attr.class]="sortClass('status')"><span [innerText]="'Trạng thái'">Trạng thái</span> <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.created_at||data.itemSelected" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')"><span [innerText]="'Ngày tạo'">Ngày tạo</span> <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.updated_at||data.itemSelected" (click)="sortBy('updated_at')" [attr.class]="sortClass('updated_at')"><span [innerText]="'Ngày cập nhật'">Ngày cập nhật</span> <span class="sort-indicator"></span></th>
          </tr>
          <tr>
            <td>
              <div class="dropdown" dropdown container="body" placement="bottom left" [insideClick]="true">
                <button type="button" dropdownToggle class="btn btn-secondary dropdown-toggle no_arrow d-flex align-items-center"><span class="mr-1 ic ic_visible_outlined"></span><span>Hiển thị</span></button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                  <div class="dropdown-item" *ngFor="let item of columnList">
                    <div class="custom-control custom-checkbox"><input type="checkbox" [attr.id]="'columnShow'+item.id" [(ngModel)]="item.checkbox" class="custom-control-input" [disabled]="item.disabled" (change)="columnCheckbox()"><label [attr.for]="'columnShow'+item.id" class="custom-control-label d-block" [innerText]="item.name"></label></div>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
            <td [hidden]="!columns.name"><span class="d-block" style="min-width: 150px;max-width: 350px"><input type="text" [(ngModel)]="data.data.q" (keyup)="onFilter($event)" class="form-control"></span></td>
            <td [hidden]="!columns.price"></td>
            <td [hidden]="!columns.status||data.itemSelected">
              <div style="min-width: 150px; max-width: 350px">
                <select [(ngModel)]="filters.status.value" (change)="onFilter($event)" class="form-control">
                  <option value="">Tất cả tình trạng</option>
                  <ng-container *ngFor="let item of statusList">
                    <option [value]="item.id">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
            </td>
            <td [hidden]="!columns.created_at||data.itemSelected"></td>
            <td [hidden]="!columns.updated_at||data.itemSelected"></td>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="7" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <div class="custom-control-wrapper">
                        <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                      </div>
                    </div>
                    <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
                    <div>
                      <div class="dropdown" dropdown container="body" placement="bottom left">
                        <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                        <div *dropdownMenu class="dropdown-menu">
                          <a class="dropdown-item" (click)="preview(item)" href="javascript:;" [innerText]="'Xem trước'">Xem trước</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:;">Xóa</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <td [innerText]="item.id"></td>
              <td [hidden]="!columns.name"><a class="d-block" style="min-width: 150px;" (click)="select(item)" href="javascript:;" [innerText]="item.name"></a></td>
              <td [hidden]="!columns.price" [innerText]="item.price|currencyFormat"></td>
              <td [hidden]="!columns.status||data.itemSelected" class="text-center">
                <ngx-toggle-switch [(ngModel)]="item.status" (change)="changeProp(item, 'status')"></ngx-toggle-switch>
              </td>
              <td [hidden]="!columns.created_at||data.itemSelected">{{ item.created_at|formatDate }}</td>
              <td [hidden]="!columns.updated_at||data.itemSelected">{{ item.updated_at|formatDate }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>
    </div>
  </div>
  <div class="col-md-7" *ngIf="data.itemSelected">
    <div class="card">
      <tabset class="tabcard_right">
        <tab (selectTab)="onSelectTab($event, 'images')">
          <ng-template tabHeading><span [innerText]="'Hình'">Hình</span></ng-template>
          <div class="card-body" *ngIf="tabs.images">
            <ngx-pd-images [product]="data.itemSelected"></ngx-pd-images>
          </div>
        </tab>
        <tab (selectTab)="onSelectTab($event, 'specials')">
          <ng-template tabHeading>Khuyến mãi</ng-template>
          <div class="card-body" *ngIf="tabs.specials">
            <ngx-pd-specials [product]="data.itemSelected"></ngx-pd-specials>
          </div>
        </tab>
        <tab (selectTab)="onSelectTab($event, 'options')">
          <ng-template tabHeading><span>Tùy chọn</span></ng-template>
          <div class="card-body" *ngIf="tabs.options">
            <ngx-pd-product-options [product]="data.itemSelected"></ngx-pd-product-options>
          </div>
        </tab>
        <tab (selectTab)="onSelectTab($event, 'relateds')">
          <ng-template tabHeading><span [innerText]="'SP mua cùng'"></span></ng-template>
          <div class="card-body" *ngIf="tabs.relateds">
            <ngx-pd-product-relateds [product]="data.itemSelected"></ngx-pd-product-relateds>
          </div>
        </tab>
        <tab (selectTab)="onSelectTab($event, 'specs')">
          <ng-template tabHeading><span [innerText]="'Thông số kỹ thuật'"></span></ng-template>
          <div class="card-body" *ngIf="tabs.specs">
            <ngx-pd-product-specs [product]="data.itemSelected"></ngx-pd-product-specs>
          </div>
        </tab>
        <!--<tab (selectTab)="onSelectTab($event, 'tabs')">
          <ng-template tabHeading>Các Tab</ng-template>
          <div class="card-body" *ngIf="tabs.tabs">
            <ngx-pd-product-tabs [product]="data.itemSelected"></ngx-pd-product-tabs>
          </div>
        </tab>-->
        <!--<tab (selectTab)="onSelectTab($event, 'modules')">
          <ng-template tabHeading>Module</ng-template>
          <div class="card-body" *ngIf="tabs.modules">
            <ngx-pd-modules [product]="data.itemSelected"></ngx-pd-modules>
          </div>
        </tab>-->
      </tabset>
    </div>
  </div>
</div>
<ngx-pd-included-product-form (onSuccess)="onFormSuccess($event)"></ngx-pd-included-product-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
