<div class="page-header no-gutter">
  <div class="row align-items-start">
    <div class="col-sm">
      <h1 class="page-header-title">Phiếu xuất kho</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Kho hàng</li>
          <li class="breadcrumb-item">Quản lý kho</li>
          <li class="breadcrumb-item">Xuất kho</li>
          <li class="breadcrumb-item active">Lịch sử xuất</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="d-flex justify-content-end mb-2">
        <ngx-date-range-picker [options]="'all,week,month,year,customRange'" [data]="data" (applyEvent)="onDatePickerSuccess()"></ngx-date-range-picker>
      </div>
    </div>
  </div>
</div>
<div class="nav-tabs-light">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/requests']" class="nav-link" routerLinkActive="active">Yêu cầu xuất</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/tickets']" class="nav-link" routerLinkActive="active">Phiếu xuất kho</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/products']" class="nav-link" routerLinkActive="active">Hàng xuất</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/exp/histories']" class="nav-link" routerLinkActive="active">Lịch sử xuất</a></li>
  </ul>
  <div class="tab-content pt-3">
    <div class="card p-5 text-center h3 text-danger">
      Tính năng đang sẽ được triển khai sớm!
      <!--<div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th>Stt</th>
            <th (click)="sortBy('id')" [attr.class]="sortClass('id')"># <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.name" (click)="sortBy('name')" [attr.class]="sortClass('name')">Mã <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.date" (click)="sortBy('date')" [attr.class]="sortClass('start_date')">Ngày nhập <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.note" (click)="sortBy('note')" [attr.class]="sortClass('total')">Ghi chú <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.total" (click)="sortBy('total')" [attr.class]="sortClass('total')">Thành tiền <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.supervisor">Người phụ trách</th>
            <th [hidden]="!columns.approve" (click)="sortBy('approve')" [attr.class]="sortClass('approve')">Trạng thái <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.approve" (click)="sortBy('approve_at')" [attr.class]="sortClass('approve_at')">Ngày duyệt <span class="sort-indicator"></span></th>
            <th [hidden]="!columns.created_at" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Ngày tạo <span class="sort-indicator"></span></th>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading"><td colspan="10" class="text-center"><div class="spinner-border"><span class="sr-only">Loading...</span></div></td></tr>
          <tr *ngFor="let item of data.items; let $index = index">
            <td [innerText]="item.index + 1"></td>
            <td>{{ item.id }}</td>
            <td>
              <a href="javascript:;" (click)="select(item)" class="d-block text-nowrap">{{ item.name }}</a>
              <div class="row-options">
                <a href="javascript:;" (click)="edit(item)">Sửa</a>&nbsp; | &nbsp;<a href="javascript:;" (click)="remove(item)" class="text-danger">Xóa</a>
              </div>
            </td>
            <td [hidden]="!columns.date">{{ item.date|formatDate }}</td>
            <td [hidden]="!columns.note">{{ item.note }}</td>
            <td [hidden]="!columns.total" [innerText]="item.total|currencyFormat"></td>
            <td [hidden]="!columns.supervisor" [innerText]="item.supervisor"></td>
            <td [hidden]="!columns.approve">
              <span *ngIf="item.approve=='new'">Mới</span>
              <span *ngIf="item.approve=='approved'">Đã duyệt</span>
              <span *ngIf="item.approve=='rejected'">Từ chối</span>
            </td>
            <td [hidden]="!columns.approve" [innerText]="item.approve_at|formatDate"></td>
            <td [hidden]="!columns.created_at" [innerText]="item.created_at|formatDate"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>-->
    </div>
  </div>
</div>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
