<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hướng dẫn sử dụng</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="form">
          <div class="form-group">
            <label class="input-label" [innerText]="'Hướng dẫn'|translate">Hướng dẫn</label>
            <textarea [formControl]="controls.user_guide" class="form-control" rows="12"></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
