<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="modal-header">
          <h4 class="modal-title">Tiếng anh cho {{info?.name}}</h4>
          <a class="close" (click)="hide()"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
            <label class="input-label">Tên</label>
            <input name="name" type="text" [formControl]="controls.name" class="form-control">
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" type="submit" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'">Cập nhật</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
