.rotate_90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  @include transform(rotate(90deg));
}

.rotate_180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  @include transform(rotate(180deg));
}

.rotate_270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  @include transform(rotate(270deg));
}

.flip_y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  @include transform(scale(-1, 1));
}

.flip_x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  @include transform(scale(1, -1));
}

[class^="ics_"], [class*=" ics_"] {
  position: relative;
  &:before {
    display: inline-block;
    content: ' ';
    width: 40px;
    height: 40px;
    background: url("#{$assets-path}/images/icon_sprite.png") top left no-repeat;
  }
  &.flip_y:before {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    @include transform(scale(-1, 1));
  }
}

.ics_leaves {
  &:before {
    width: 90px;
    height: 34px;
    background-position: 0 0;
  }
}

.icon_plus {
  display: block;
  width: var(--width-icon, 40px);
  height: var(--height-icon, 40px);
  position: relative;
  text-decoration: none;
  background-color: transparent;
  color: var(--primary-color, var(--primary));
  &:after, &:before {
    content: '';
    position: absolute;
    background: var(--primary-color, var(--primary));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rotate, 0deg));
    z-index: 1;
  }
  &:before {
    height: var(--height-icon, 4px);
    width: var(--width-icon, 25px);
    border-radius: 50px;
  }
  &:after {
    width: var(--width-icon, 4px);
    height: var(--height-icon, 25px);
    border-radius: 50px;
  }
  &.active:after {
    opacity: 0;
  }
}
