<div *ngIf="info">
  <div class="row align-items-center mb-3">
    <div class="col-sm font-weight-bold"></div>
    <div class="col-sm-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="edit()"><span class="ic_pencil_square_outline mr-1"></span><span>Sửa</span></button>
      </div>
    </div>
  </div>
  <div>
    <p class="font-weight-bold text-uppercase">Mô tả</p>
    <div class="inner_description" [innerHTML]="info.description"></div>
  </div>
</div>
<ngx-pg-form (onSuccess)="onFormSuccess($event)"></ngx-pg-form>
