<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Danh sách khách hàng</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Khách hàng</a></li>
          <li class="breadcrumb-item active">Danh sách khách hàng</li>
        </ol>
      </nav>
    </div>
    <div class="col-auto-sm">
      <div class="btn-group mr-2">
        <button type="button" (click)="create()" class="btn btn-secondary d-flex align-items-center"><span class="mr-1 ic ic_plus"></span><span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th style="width: 1px">
          <div class="table_tools d-flex justify-content-between align-items-center">
            <div>
              <div class="custom-control-wrapper">
                <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
              </div>
            </div>
            <div>&nbsp;&nbsp;Stt</div>
          </div>
        </th>
        <th [hidden]="!columns.id" (click)="sortBy('id')" [attr.class]="sortClass('id')">Mã KH <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.first_name" (click)="sortBy('first_name')" [attr.class]="sortClass('first_name')">Khách hàng <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.email" (click)="sortBy('email')" [attr.class]="sortClass('email')">Email <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.phone_number" (click)="sortBy('phone_number')" [attr.class]="sortClass('phone_number')">Số ĐT <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.last_login" (click)="sortBy('last_login')" [attr.class]="sortClass('last_login')">Đăng nhập <span class="sort-indicator"></span></th>
        <th [hidden]="!columns.created_at" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Ngày tạo <span class="sort-indicator"></span></th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading">
        <td colspan="10" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
      </tr>
      <ng-container *ngFor="let item of data.items; let $index = index">
        <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1}">
          <td>
            <div class="table_tools d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-start align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                  </div>
                </div>
                <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
                <div>
                  <div class="dropdown" dropdown container="body" placement="bottom left">
                    <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                    <div *dropdownMenu class="dropdown-menu">
                      <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:;">Xóa</a>
                    </div>
                  </div>
                </div>
              </div>
              <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
            </div>
          </td>
          <td [hidden]="!columns.id">{{ item.no }}</td>
          <td [hidden]="!columns.first_name" [innerText]="item.display"></td>
          <td [hidden]="!columns.email">{{ item.email }}</td>
          <td [hidden]="!columns.phone_number">{{ item.phone_number }}</td>
          <td [hidden]="!columns.last_login">{{ item.last_login|formatDate }}</td>
          <td [hidden]="!columns.created_at">{{ item.created_at|formatDate }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
  </div>
</div>
<ngx-user-form (onSuccess)="onFormSuccess($event)"></ngx-user-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
