<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="z-index: 99999" [ngClass]="{'modal-lg':(info.type=='editor_lang' || info.type=='default_editor')}">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cập nhật thuộc tính <span [innerHTML]="info?.name"></span></h4>
        <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <div *ngIf="info.type=='default'" class="form-group">
          <label class="input-label">Giá trị</label>
          <input type="text" [(ngModel)]="value" class="form-control">
        </div>
        <div *ngIf="info.type=='default_textarea'" class="form-group">
          <label class="input-label">Giá trị</label>
          <textarea [(ngModel)]="value" class="form-control" rows="5"></textarea>
        </div>
        <div *ngIf="info.type=='number'" class="form-group">
          <label class="input-label">Giá trị</label>
          <input type="number" [(ngModel)]="value" class="form-control">
        </div>
        <div *ngIf="info.type=='image'" class="form-group">
          <label class="input-label">Hình</label>
          <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
        </div>
        <ng-container *ngIf="info.type=='default_editor'">
          <div class="form-group">
            <textarea ngxEditor [(ngModel)]="value" class="form-control"></textarea>
          </div>
        </ng-container>
        <ng-container *ngIf="info.type=='editor_lang'">
          <div class="form-group">
            <label class="input-label">Tiếng việt</label>
            <textarea ngxEditor [(ngModel)]="value['vi']" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label class="input-label">Tiếng anh</label>
            <textarea ngxEditor [(ngModel)]="value['en']" class="form-control"></textarea>
          </div>
        </ng-container>
        <ng-container *ngIf="info.type=='text'">
          <div class="form-group">
            <label class="input-label">Tiếng việt</label>
            <input type="text" [(ngModel)]="value['vi']" class="form-control">
          </div>
          <div class="form-group">
            <label class="input-label">Tiếng anh</label>
            <input type="text" [(ngModel)]="value['en']" class="form-control">
          </div>
        </ng-container>
        <ng-container *ngIf="info.type=='textarea'">
          <div class="form-group">
            <label class="input-label">Tiếng việt</label>
            <textarea [(ngModel)]="value['vi']" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label class="input-label">Tiếng anh</label>
            <textarea [(ngModel)]="value['en']" class="form-control" rows="5"></textarea>
          </div>
        </ng-container>
        <div *ngIf="info.type=='boolean'" class="form-group">
          <label class="input-label">Giá trị</label>
          <div>
            <ngx-toggle-switch [(ngModel)]="value"></ngx-toggle-switch>
          </div>
        </div>
        <div *ngIf="info&&info.note" class="form-group">
          <small [innerHTML]="info.note"></small>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" (click)="onSubmit()" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span>Cập nhật</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
