.title_layout2 {
  .title-box {
    color: var(--title-color, var(--primary-color));
    font-weight: 600;
    position: relative;
    letter-spacing: 4px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  .title-box shadow {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(2px, 2px);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--title-color, var(--primary-color));
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .title-box:hover shadow {
    transform: translate(0, 0);
    opacity: 0;
  }
  .section_sub_title {
    /*font-weight: 700;*/
    font-size: calc(var(--title-size) * 0.8);
    color: var(--sub-title-color, var(--primary));
    white-space: pre-wrap;
  }
}
