.title_layout4 {
  .text-wrapper {
    position: relative;
    color: var(--title-color, var(--primary));
    letter-spacing: 4px;
    z-index: 1;
    width: max-content;
  }
  .text-wrapper span {
    color: transparent;
    -webkit-text-stroke: 1px var(--title-color, var(--primary));
  }
  .text-wrapper shadow {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: wave_title_layout4 4s ease-in-out infinite;
  }
  .section_sub_title {
    font-size: calc(var(--title-size) * 0.8);
    color: var(--sub-title-color, var(--primary));
    white-space: pre-wrap;
  }
  @keyframes wave_title_layout4 {
    0%, 100% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 36.22%, 6.67% 36.10%, 13.33% 37.20%, 20.00% 39.42%, 26.67% 42.57%, 33.33% 46.38%, 40.00% 50.53%, 46.67% 54.67%, 53.33% 58.43%, 60.00% 61.50%, 66.67% 63.62%, 73.33% 64.61%, 80.00% 64.37%, 86.67% 62.94%, 93.33% 60.43%, 100.00% 57.06%);
    }
    50% {
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 64.45%, 6.67% 64.57%, 13.33% 63.47%, 20.00% 61.25%, 26.67% 58.10%, 33.33% 54.28%, 40.00% 50.13%, 46.67% 46.00%, 53.33% 42.24%, 60.00% 39.16%, 66.67% 37.04%, 73.33% 36.06%, 80.00% 36.29%, 86.67% 37.73%, 93.33% 40.23%, 100.00% 43.60%);
    }
  }
}
