<div class="card">
  <div class="h-tabs">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-sm">
          <h4 class="card-title m-0">Thông tin khách hàng</h4>
        </div>
        <div class="col-auto"></div>
      </div>
    </div>
    <tabset>
      <tab>
        <ng-template tabHeading>Thông tin chung</ng-template>
        <div class="card-body">
          <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-row">
              <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.first_name.invalid && (controls.first_name.touched || showValid))}">
                <label class="input-label">Tên khách hàng</label>
                <input type="text" [formControl]="controls.first_name" class="form-control">
              </div>
              <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.email.invalid && (controls.email.touched || showValid))}">
                <label class="input-label">Email</label>
                <input type="email" [formControl]="controls.email" class="form-control">
              </div>
              <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.phone_number.invalid && (controls.phone_number.touched || showValid))}">
                <label class="input-label">Số điện thoại</label>
                <input type="text" [formControl]="controls.phone_number" class="form-control">
              </div>
              <div class="form-group col-sm-6" [ngClass]="{'has-error': (controls.address.invalid && (controls.address.touched || showValid))}">
                <label class="input-label" [innerText]="'Địa chỉ'|translate">Địa chỉ</label>
                <input type="text" [formControl]="controls.address" class="form-control">
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-secondary" type="submit" [disabled]="submitted"><span class="spinner-border spinner-border-sm mr-2" *ngIf="submitted"></span>Lưu thay đổi</button>
            </div>
          </form>
        </div>
      </tab>
    </tabset>
  </div>
</div>
