<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form">
        <div class="modal-header">
          <h4 class="modal-title">Cập nhật thông tin</h4>
          <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="input-label">Tên</label>
            <input type="text" class="form-control" [formControl]="controls.shipping_first_name" [value]="controls.shipping_first_name.value">
          </div>
          <div class="form-group">
            <label class="input-label">Điện thoại</label>
            <input type="text" class="form-control" [formControl]="controls.shipping_phone_number" [value]="controls.shipping_phone_number.value">
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button type="button" class="btn btn-secondary" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Hoàn tất</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
