<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form">
        <div class="modal-header">
          <h4 class="modal-title">Thông tin xuất VAT (#{{ info?.no }})</h4>
          <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group" [ngClass]="{'has-error': (controls.date.invalid && (controls.date.touched || showValid))}">
            <label class="input-label">Ngày xuất</label>
            <div class="input-group">
              <input type="text" [formControl]="controls.date" bsDatepicker [bsConfig]="bsConfig" #date="bsDatepicker" class="form-control">
              <div class="input-group-append"><span class="input-group-text" (click)="date.toggle()" [attr.aria-expanded]="date.isOpen"><span class="ic_timetable"></span></span></div>
            </div>
          </div>
          <div class="form-group">
            <label class="input-label">Công ty</label>
            <input type="text" name="company" [formControl]="controls.company" class="form-control">
          </div>
          <div class="form-group">
            <label class="input-label">Mã số thuế</label>
            <input type="text" name="tax_code" [formControl]="controls.tax_code" class="form-control">
          </div>
          <div class="form-group">
            <label class="input-label">Địa chỉ</label>
            <textarea name="address" [formControl]="controls.address" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label class="input-label">Email</label>
            <input type="text" name="email" [formControl]="controls.email" class="form-control">
          </div>
          <div *ngIf="info" class="mt-3"><ngx-ord-order-products [info]="info"></ngx-ord-order-products></div>
          <div *ngIf="info" class="row justify-content-md-end mb-3">
            <div class="col-md-8 col-lg-7">
              <table class="table table-sm d-inline-block w-auto table-borderless text-right text-nowrap float-right no_bg">
                <tbody>
                <tr>
                  <td><span class="font-weight-bold">Tạm tính:</span></td>
                  <td><span [innerText]="info.sub_total|currencyFormat"></span>đ</td>
                </tr>
                <tr>
                  <td><span class="font-weight-bold">Phí vận chuyển:</span></td>
                  <td><span [innerText]="info.shipping_fee|currencyFormat"></span>đ</td>
                </tr>
                <tr *ngIf="info.shipping_discount">
                  <td><span class="font-weight-bold">Giảm giá vận chuyển:</span></td>
                  <td><span [innerText]="info.shipping_discount|currencyFormat"></span>đ</td>
                </tr>
                <tr *ngIf="info.discount_total || info.voucher_total">
                  <td><span class="font-weight-bold">Mã:</span></td>
                  <td><div [innerText]="info.discount_code"></div><div [innerText]="info.voucher_code"></div></td>
                </tr>
                <tr>
                  <td><span class="font-weight-bold">Giảm giá:</span></td>
                  <td><span [innerText]="(info.discount_total+info.voucher_total)|currencyFormat"></span>đ</td>
                </tr>
                <tr>
                  <td><span class="font-weight-bold">Thành tiền:</span></td>
                  <td><span [innerText]="info.total|currencyFormat"></span>đ</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Xuất VAT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
