<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="modal-header">
          <h4 class="modal-title">Đổi mật khẩu</h4>
          <a class="close" (click)="hide()"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group" [ngClass]="{'has-error': (controls.password.invalid && (controls.password.touched || showValid))}">
            <label class="input-label">Mật khẩu</label>
            <input type="password" [formControl]="controls.password" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button class="btn btn-secondary" type="submit" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Đổi mật khẩu</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
