<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span>&nbsp;<span [innerText]="'section'|translate">section</span></h4>
        <div class="ml-auto">
          <button type="button" class="btn btn-outline-secondary border-0" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i class="fa fa-cogs"></i></button>
        </div>
        <a class="close ml-0" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <tabset #formTabs>
          <tab>
            <ng-template tabHeading>Mặc định</ng-template>
            <form class="pt-3" novalidate [formGroup]="form">
              <div class="pb-4" [collapse]="isCollapsed" [isAnimated]="true">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="input-label">Container</label>
                        <select name="propCont" [formControl]="propControls.cont" class="form-control">
                          <option value="">Mặc định</option>
                          <option value="sm">Nhỏ ~ 1000</option>
                          <option value="md">Trung bình ~ 1400</option>
                          <option value="lg">Lớn ~ 90%</option>
                          <option value="xl">Full - 100%</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Màu chủ đạo</label>
                        <select name="propPrimaryColor" [formControl]="propControls.primaryColor" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Màu 2</label>
                        <select name="propSecondaryColor" [formControl]="propControls.secondaryColor" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Màu 3</label>
                        <select name="propSuccessColor" [formControl]="propControls.successColor" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Size ảnh</label>
                        <select name="propImgSize" [formControl]="propControls.imgSize" class="form-control">
                          <option value="">Mặc định</option>
                          <option value="small">Nhỏ</option>
                          <option value="thumb">Vừa</option>
                          <option value="large">Lớn</option>
                          <option value="raw">Gốc</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="form-group col-sm-6" *ngIf="modal.isShown">
                        <label class="input-label" [innerText]="'Hình nền'|translate">Hình nền</label>
                        <ngx-picture-uploader [options]="bgOpts" (onSelected)="onBgSelected($event)" (onDeleted)="onBgDeleted($event)"></ngx-picture-uploader>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Màu nền</label>
                        <select name="propBgColor" [formControl]="propControls.bgColor" class="form-control">
                          <option value="">{{'Không'|translate}}</option>
                          <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-3">
                        <label class="input-label">Background Size</label>
                        <select name="propBgSize" [formControl]="propControls.bgSize" class="form-control">
                          <option value="">Mặc định</option>
                          <option value="cover">Cover</option>
                          <option value="contain">Contain</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-auto">
                        <label class="input-label"><span [innerText]="'Ghim'|translate"></span></label>
                        <div class="d-flex">
                          <div>
                            <ngx-toggle-switch [formControl]="propControls.bgFixed"></ngx-toggle-switch>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-auto">
                        <label class="input-label"><span [innerText]="'Parallax'|translate"></span></label>
                        <div class="d-flex">
                          <div>
                            <ngx-toggle-switch [formControl]="propControls.bgParallax"></ngx-toggle-switch>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Màu chữ</label>
                        <select name="propTextColor" [formControl]="propControls.textColor" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-auto text-primary"><b>DESKTOP</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="input-label">Margin Top</label>
                        <select name="propMt" [formControl]="propControls.mtxl" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Margin Bottom</label>
                        <select name="propMb" [formControl]="propControls.mbxl" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Padding Top</label>
                        <select name="propBt" [formControl]="propControls.ptxl" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Padding Bottom</label>
                        <select name="propBp" [formControl]="propControls.pbxl" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Cột</label>
                        <input name="propCol" type="text" [formControl]="propControls.col" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Khoảng cách cột</label>
                        <input name="propSpacingCol" type="number" [formControl]="propControls.spacingCol" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Dòng</label>
                        <select name="propCol" [formControl]="propControls.row" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:1:5" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Dòng Text</label>
                        <input name="propTextRow" type="number" [formControl]="propControls.textRow" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Khung ảnh</label>
                        <input name="propImgSize" type="text" [formControl]="propControls.imgFrame" class="form-control" placeholder="16/9, 4/3, 1/1,...">
                      </div>
                    </div>
                  </div>
                  <div class="col-6 border-left">
                    <div class="row">
                      <div class="col-auto text-primary"><b>MOBILE</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="input-label">Margin Top</label>
                        <select name="propMt" [formControl]="propControls.mt" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Margin Bottom</label>
                        <select name="propMb" [formControl]="propControls.mb" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Padding Top</label>
                        <select name="propBt" [formControl]="propControls.pt" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Padding Bottom</label>
                        <select name="propBp" [formControl]="propControls.pb" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Cột</label>
                        <input name="propCol" type="text" [formControl]="propControls.colMb" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Khoảng cách cột</label>
                        <input name="propSpacingCol" type="number" [formControl]="propControls.spacingColMb" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Dòng</label>
                        <select name="propCol" [formControl]="propControls.rowMb" class="form-control">
                          <option value="">Mặc định</option>
                          <option *ngFor="let item of []|ngxRangeNumber:1:5" [value]="item">{{ item }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Dòng Text</label>
                        <input name="propTextRow" type="number" [formControl]="propControls.textRowMb" class="form-control">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="input-label">Khung ảnh</label>
                        <input name="propImgSizeMb" type="text" [formControl]="propControls.imgFrameMb" class="form-control" placeholder="16/9, 4/3, 1/1,...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto text-primary"><b>TITLE</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu tiêu đề</label>
                    <select name="propTitleColor" [formControl]="propControls.titleColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu tiêu đề phụ</label>
                    <select name="propSubTitleColor" [formControl]="propControls.subTitleColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Vị trí</label>
                    <select name="propTitleAlign" [formControl]="propControls.titleAlign" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option value="left">Trái</option>
                      <option value="center">Giữa</option>
                      <option value="right">Phải</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto text-primary"><b>BUTTON</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu button</label>
                    <select name="propButtonColor" [formControl]="propControls.buttonColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu button hover</label>
                    <select name="propButtonHoverColor" [formControl]="propControls.buttonHoverColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ button</label>
                    <select name="propTextBtnColor" [formControl]="propControls.textBtnColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ hover</label>
                    <select name="propTextBtnHoverColor" [formControl]="propControls.textBtnHoverColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Vị trí</label>
                    <select name="propButtonAlign" [formControl]="propControls.buttonAlign" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option value="left">Trái</option>
                      <option value="center">Giữa</option>
                      <option value="right">Phải</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Kiểu button</label>
                    <select name="propBtnStyle" [formControl]="propControls.btnStyle" class="form-control" (change)="onChangeStyle()" [ngClass]="{'loading':cfModuleData.loading}">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of cfModuleData.buttons" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div [hidden]="!buttonPreview" class="form-group col-sm-3">
                    <img src="{{buttonPreview}}" class="img-fluid">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto text-primary"><b>DOT</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label"><span [innerText]="'Hiện dot'|translate"></span></label>
                    <div class="d-flex">
                      <div>
                        <ngx-toggle-switch [formControl]="propControls.dot"></ngx-toggle-switch>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu dot</label>
                    <select name="propDotColor" [formControl]="propControls.dotColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu dot active</label>
                    <select name="propDotActiveColor" [formControl]="propControls.dotActiveColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ</label>
                    <select name="propTextDotColor" [formControl]="propControls.textDotColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ active</label>
                    <select name="propTextDotActiveColor" [formControl]="propControls.textDotActiveColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Vị trí</label>
                    <select name="propDotAlign" [formControl]="propControls.dotAlign" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option value="left">Trái</option>
                      <option value="center">Giữa</option>
                      <option value="right">Phải</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Bottom</label>
                    <input name="propDotMb" type="number" [formControl]="propControls.dotMb" class="form-control">
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Height</label>
                    <input name="propDotHeight" type="number" [formControl]="propControls.dotHeight" class="form-control">
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Kiểu dot</label>
                    <select name="propDotStyle" [formControl]="propControls.dotStyle" class="form-control" (change)="onChangeStyle()" [ngClass]="{'loading':cfModuleData.loading}">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of cfModuleData.dots" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div [hidden]="!dotPreview" class="form-group col-sm-3">
                    <img src="{{dotPreview}}" class="img-fluid">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto text-primary"><b>ARROW</b></div>
                      <div class="col">
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-1">
                    <label class="input-label"><span [innerText]="'Trạng thái'|translate"></span></label>
                    <div class="d-flex">
                      <div>
                        <ngx-toggle-switch [formControl]="propControls.arrow"></ngx-toggle-switch>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="input-label"><span [innerText]="'Hiện khi hover'|translate"></span></label>
                    <div class="d-flex">
                      <div>
                        <ngx-toggle-switch [formControl]="propControls.arrowHide"></ngx-toggle-switch>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu arrow</label>
                    <select name="propArrowColor" [formControl]="propControls.arrowColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu arrow hover</label>
                    <select name="propArrowHoverColor" [formControl]="propControls.arrowHoverColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ</label>
                    <select name="propTextArrowColor" [formControl]="propControls.textArrowColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Màu chữ hover</label>
                    <select name="propTextArrowHoverColor" [formControl]="propControls.textArrowHoverColor" class="form-control">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Right <small>(đơn vị %)</small></label>
                    <input name="propArrowRight" type="text" [formControl]="propControls.arrowRight" class="form-control" placeholder="-10, 50,...">
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Bottom <small>(đơn vị %)</small></label>
                    <input name="propArrowBottom" type="text" [formControl]="propControls.arrowBottom" class="form-control" placeholder="-10, 50,...">
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="input-label">Kiểu arrow</label>
                    <select name="propArrowStyle" [formControl]="propControls.arrowStyle" class="form-control" (change)="onChangeStyle()" [ngClass]="{'loading':cfModuleData.loading}">
                      <option value="">{{'Mặc định'|translate}}</option>
                      <option *ngFor="let item of cfModuleData.arrows" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div [hidden]="!arrowPreview" class="form-group col-sm-3">
                    <img src="{{arrowPreview}}" class="img-fluid">
                  </div>
                </div>
                <hr class="bg-dark">
              </div>
              <div class="row">
                <div class="form-group col-sm-4" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                  <label class="input-label" [innerText]="'Tên'|translate">Tên module</label>
                  <input name="name" type="text" [formControl]="controls.name" class="form-control">
                </div>
                <div class="form-group col-sm-4" [ngClass]="{'has-error': (controls.title.invalid && (controls.title.touched || showValid))}">
                  <label class="input-label" [innerText]="'Tiêu đề'|translate">Tiêu đề</label>
                  <input name="title" type="text" [formControl]="controls.title" class="form-control">
                </div>
                <div class="form-group col-sm-4" [ngClass]="{'has-error': (controls.sub_title.invalid && (controls.sub_title.touched || showValid))}">
                  <label class="input-label" [innerText]="'Tiêu đề phụ'|translate">Tiêu đề phụ</label>
                  <input type="text" [formControl]="controls.sub_title" class="form-control">
                </div>
                <!--<div class="form-group col-sm-4" [ngClass]="{'has-error': (controls.module_id.invalid && (controls.module_id.touched || showValid))}">
                  <label class="input-label"><span [innerText]="'Module mặc định'|translate">Module mặc định</span>
                    <ng-container *ngIf="controls.is_overwrite.value">&nbsp;(<a (click)="loadModuleData()" href="javascript:;" class="small" [innerText]="'Điền mặc định'|translate">Điền mặc định</a>)</ng-container>
                  </label>
                  <div class="input-group">
                    <select class="form-control" [formControl]="controls.module_id" (change)="onModuleChange($event)" [ngClass]="{'loading':moduleData.loading}">
                      <option value="">{{'Không'|translate}}</option>
                      <option *ngFor="let item of moduleData.items" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>-->
              </div>
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="input-label"><span [innerText]="'Ghi đè'|translate"></span></label>
                  <div class="d-flex">
                    <div>
                      <ngx-toggle-switch [formControl]="controls.is_overwrite"></ngx-toggle-switch>
                    </div>
                  </div>
                </div>
                <!--<div class="form-group col-sm-3" [ngClass]="{'has-error': (controls.code.invalid && (controls.code.touched || showValid))}">
                  <label class="input-label">Module hiển thị</label>
                  <select class="form-control" [formControl]="controls.code" (change)="onCfModuleChange()" [ngClass]="{'loading':cfModuleData.loading}">
                    <option value="">{{'Không'|translate}}</option>
                    <option *ngFor="let item of cfModuleData.modules" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>-->
                <div class="form-group col-sm-3">
                  <label class="input-label">Kiểu</label>
                  <select class="form-control" [formControl]="controls.layout">
                    <option *ngFor="let item of layouts" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <label class="input-label">Widget</label>
                  <select class="form-control" [formControl]="controls.tile">
                    <option value="">{{'Không'|translate}}</option>
                    <option *ngFor="let item of tiles" [value]="item.id">{{ item.name }}</option>
                  </select>
                </div>
                <div class="form-group col-sm-12"><img [src]="previews[controls.layout.value?controls.layout.value:'layout1']" class="img-fluid" style="max-width: 300px"></div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="input-label">Hiển thị Button</label>
                  <ngx-toggle-switch [formControl]="propControls.button"></ngx-toggle-switch>
                </div>
                <div [hidden]="!propControls.button.value" class="form-group col-sm-3">
                  <label class="input-label">Tên Button</label>
                  <input type="text" [formControl]="controls.btn_text" class="form-control">
                </div>
                <div [hidden]="!propControls.button.value" class="form-group col-sm-3">
                  <label class="input-label">Liên kết</label>
                  <input type="text" [formControl]="controls.btn_link" class="form-control" placeholder="VD: /gioi-thieu">
                </div>
                <div [hidden]="!propControls.button.value" class="form-group col-sm-3">
                  <label class="input-label">Hiển thị/Trượt đến Module</label>
                  <select class="form-control" [formControl]="propControls.btnModuleLink" [ngClass]="{'loading':listModules.loading}">
                    <option value="">Không</option>
                    <option *ngFor="let item of listModules.items" [value]="item.id" [hidden]="item.id==info.id" [selected]="item.id==propControls.btnModuleLink.value">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="input-label"><span [innerText]="'Menu phụ'|translate"></span>?</label>
                  <ngx-toggle-switch [formControl]="propControls.menu"></ngx-toggle-switch>
                </div>
                <div [hidden]="!propControls.menu.value" class="form-group col-sm-4">
                  <label class="input-label"><span [innerText]="'Tên menu'|translate"></span></label>
                  <input type="text" [formControl]="controls.menu_text" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3" [ngClass]="{'has-error': (controls.sort_order.invalid && (controls.sort_order.touched || showValid))}">
                  <label class="input-label" [innerText]="'Sắp xếp'|translate">Sắp xếp</label>
                  <input name="sort_order" type="number" [formControl]="controls.sort_order" class="form-control">
                </div>
                <div class="form-group col-sm-3" [ngClass]="{'has-error': (controls.status.invalid && (controls.status.touched || showValid))}">
                  <label class="input-label">Trạng thái</label>
                  <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
                </div>
                <div [hidden]="!configs.properties.reverse_md" class="form-group col-sm-3">
                  <label class="input-label" [innerText]="'Đảo chiều layout'|translate"></label>
                  <ngx-toggle-switch [formControl]="propControls.reverse"></ngx-toggle-switch>
                </div>
              </div>
              <div [hidden]="controls.module_id.value&&!controls.is_overwrite.value">
                <hr>
                <div class="row">
                  <div [hidden]="!configs.short_description" class="form-group col-sm-6" [ngClass]="{'has-error': (controls.short_description.invalid && (controls.short_description.touched || showValid))}">
                    <label class="input-label" [innerText]="'Tóm tắt'|translate">Tóm tắt</label>
                    <textarea [formControl]="controls.short_description" class="form-control" rows="3"></textarea>
                  </div>
                  <div [hidden]="!configs.image" class="form-group col-sm-6" *ngIf="modal.isShown">
                    <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                    <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="modal.isShown">
                    <label class="input-label" [innerText]="'Hình nền'|translate">Hình nền</label>
                    <ngx-picture-uploader [options]="bgOpts" (onSelected)="onBgSelected($event)" (onDeleted)="onBgDeleted($event)"></ngx-picture-uploader>
                  </div>
                  <div [hidden]="!configs.attach" class="form-group col-sm-6" *ngIf="modal.isShown">
                    <label class="input-label"><span [innerText]="'File đính kèm'|translate"></span></label>
                    <input #attachFile type="file" (change)="onAttach()" accept="*">
                    <div class="small" *ngIf="info && info.attach_url"><a [href]="info.attach_url" target="_blank"><span [innerText]="'Xem file'|translate"></span></a>&nbsp;&nbsp;<a href="javascript:void(0)" class="text-danger" (click)="removeAttach()"><span [innerText]="'Xóa file'|translate"></span></a></div>
                  </div>
                </div>
                <ng-container *ngIf="configs.properties.category_id">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label class="input-label" [innerText]="'Danh mục'|translate">Nguồn dữ liệu</label>
                      <select class="form-control" [formControl]="propControls.source" (change)="onChangeSource($event)">
                        <option value="">{{'Không'|translate}}</option>
                        <option *ngFor="let item of sourceList" [value]="item.id">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-6">
                      <label class="input-label" [innerText]="'Danh mục'|translate">Dữ liệu</label>
                      <input type="hidden" [formControl]="propControls.source_ids">
                      <div class="input-group">
                        <input type="text" [formControl]="propControls.source_names" class="form-control">
                        <span class="input-group-append"><button type="button" class="btn btn-secondary" (click)="openCategory()">Chọn</button></span>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="row">
                  <div [hidden]="!configs.properties.page_id" class="form-group col-sm-6">
                    <label class="input-label" [innerText]="'Liên kết trang'|translate">Liên kết trang</label>
                    <select class="form-control" [formControl]="propControls.page_id" [ngClass]="{'loading':pageData.loading}">
                      <option value="">{{'Không'|translate}}</option>
                      <option *ngFor="let item of pageData.items" [value]="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                  <div [hidden]="!configs.properties.youtube" class="form-group col-sm-6">
                    <label class="input-label">Youtube</label>
                    <input type="text" [formControl]="propControls.youtube" class="form-control">
                  </div>
                  <div [hidden]="!configs.description" class="form-group col-sm-12" [ngClass]="{'has-error': (controls.description.invalid && (controls.description.touched || showValid))}">
                    <label class="input-label">Mô tả</label>
                    <textarea ngxEditor [formControl]="controls.description" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <fieldset [hidden]="!configs.table_contents">
                  <legend>Table Contents</legend>
                  <table class="table mt-3">
                    <ng-container *ngFor="let item of tbcForm.controls; let i=index">
                      <tr *ngIf="i>0">
                        <td colspan="3" style="width: auto;border: 0;" class="p-0">
                          <hr>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: auto;border: 0;" class="pt-0 pb-0">
                          <div class="row">
                            <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.image1 === false)" class="col form-group">
                              <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                              <ngx-picture-uploader [options]="fileOpts1[i]" (onSelected)="onImageSelected(i, $event)" (onDeleted)="onImageDeleted(i, $event)"></ngx-picture-uploader>
                            </div>
                            <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.image2 === false)" class="col form-group">
                              <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                              <ngx-picture-uploader [options]="fileOpts2[i]" (onSelected)="onImageSelected2(i, $event)" (onDeleted)="onImageDeleted2(i, $event)"></ngx-picture-uploader>
                            </div>
                            <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.image3 === false)" class="col form-group">
                              <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                              <ngx-picture-uploader [options]="fileOpts3[i]" (onSelected)="onImageSelected3(i, $event)" (onDeleted)="onImageDeleted3(i, $event)"></ngx-picture-uploader>
                            </div>
                          </div>
                          <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.name === false)" class="form-group" [ngClass]="{'has-error':(item.controls.name.invalid && (item.controls.name.touched || showValid))}">
                            <label class="input-label">Tên</label>
                            <input type="text" [formControl]="item.controls.name" class="form-control">
                          </div>
                          <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.short_description === false)" class="form-group" [ngClass]="{'has-error':(item.controls.short_description.invalid && (item.controls.short_description.touched || showValid))}">
                            <label class="input-label" [innerText]="'Tóm tắt'|translate">Tóm tắt</label>
                            <input type="text" [formControl]="item.controls.short_description" class="form-control">
                          </div>
                          <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.link === false)" class="form-group" [ngClass]="{'has-error':(item.controls.link.invalid && (item.controls.link.touched || showValid))}">
                            <label class="input-label" [innerText]="'Liên kết'|translate">Liên kết</label>
                            <input type="text" [formControl]="item.controls.link" class="form-control">
                          </div>
                          <div [hidden]="(isObject(configs.table_contents) && configs.table_contents.attach === false)" class="form-group">
                            <label class="input-label"><span [innerText]="'File đính kèm'|translate"></span></label>
                            <input type="file" (change)="onTbcAttach(i, $event)" accept="*">
                            <div class="small" *ngIf="item.controls.attach_url.value"><a [href]="item.controls.attach_url.value" target="_blank"><span [innerText]="'Xem file'|translate"></span></a>&nbsp;&nbsp;<a href="javascript:void(0)" class="text-danger" (click)="removeTbcAttach(i, $event, item.controls)"><span [innerText]="'Xóa file'|translate"></span></a></div>
                          </div>
                        </td>
                        <td [hidden]="(isObject(configs.table_contents) && configs.table_contents.description === false)" style="width: auto;border: 0;" class="pt-0 pb-0">
                          <div class="form-group" [ngClass]="{'has-error':(item.controls.description.invalid && (item.controls.description.touched || showValid))}">
                            <label class="input-label">Mô tả</label>
                            <textarea ngxEditor [opt]="editorOpt" [formControl]="item.controls.description" class="form-control" rows="3"></textarea>
                          </div>
                        </td>
                        <td rowspan="1" style="width: 1px;border: 0;vertical-align: middle;" class="pt-0 pb-0">
                          <button type="button" (click)="removeRow(i)" class="btn btn-sm btn-danger"><span class="ic_close"></span></button>
                        </td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td colspan="3" style="width: auto;" class="text-right">
                        <button type="button" (click)="addRow()" class="btn btn-sm btn-primary"><span class="ic_plus"></span></button>
                      </td>
                    </tr>
                  </table>
                </fieldset>
                <fieldset [hidden]="!configs.table_images">
                  <legend>Table Images</legend>
                  <table class="table mt-3">
                    <ng-container *ngFor="let item of imgForm.controls; let i=index">
                      <tr *ngIf="i>0">
                        <td colspan="3" style="width: auto;border: 0;" class="p-0">
                          <hr>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: auto;border: 0;" class="pt-0 pb-0">
                          <div [hidden]="(isObject(configs.table_images) && configs.table_images.image === false)" class="form-group">
                            <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                            <ngx-picture-uploader [options]="imgOpts[i]" (onSelected)="onImgSelected(i, $event)" (onDeleted)="onImgDeleted(i, $event)"></ngx-picture-uploader>
                          </div>
                          <div [hidden]="(isObject(configs.table_images) && configs.table_images.name === false)">
                            <label class="input-label">Tên</label>
                            <input type="text" [formControl]="item.controls.name" class="form-control">
                          </div>
                          <div [hidden]="(isObject(configs.table_images) && configs.table_images.short_description === false)">
                            <label class="input-label" [innerText]="'Tóm tắt'|translate">Tóm tắt</label>
                            <input type="text" [formControl]="item.controls.short_description" class="form-control">
                          </div>
                          <div [hidden]="(isObject(configs.table_images) && configs.table_images.link === false)">
                            <label class="input-label" [innerText]="'Liên kết'|translate">Liên kết</label>
                            <input type="text" [formControl]="item.controls.link" class="form-control">
                          </div>
                        </td>
                        <td [hidden]="(isObject(configs.table_images) && configs.table_images.description === false)" style="width: auto;border: 0;" class="pt-0 pb-0">
                          <div class="form-group" [ngClass]="{'has-error':(item.controls.description.invalid && (item.controls.description.touched || showValid))}">
                            <label class="input-label">Mô tả</label>
                            <textarea ngxEditor [opt]="editorOpt" [formControl]="item.controls.description" class="form-control" rows="3"></textarea>
                          </div>
                        </td>
                        <td rowspan="1" style="width: 1px;border: 0;vertical-align: middle;" class="pt-0 pb-0">
                          <button type="button" (click)="removeImgRow(i)" class="btn btn-sm btn-danger"><span class="ic_close"></span></button>
                        </td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td colspan="3" style="width: auto;" class="text-right">
                        <button type="button" (click)="addImgRow()" class="btn btn-sm btn-primary"><span class="ic_plus"></span></button>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </div>
              <ng-container *ngIf="!(info && langData.items.length)">
                <div class="d-flex justify-content-end" style="position: sticky; bottom: 0; padding:15px 0; background: #ffffff; z-index: 9">
                  <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary px-5"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                </div>
              </ng-container>
              <ng-container *ngIf="(info && langData.items.length)">
                <div class="d-flex justify-content-end" style="position: sticky; bottom: 0; padding:15px 0; background: #ffffff; z-index: 9">
                  <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary px-5 mr-1"><span [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                  <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary px-5"><span [innerText]="'Cập nhật & thoát'|translate">Cập nhật & thoát</span></button>
                </div>
              </ng-container>
            </form>
          </tab>
          <ng-container *ngIf="info">
            <ng-container *ngFor="let item of langData.items; let $index = index">
              <tab (selectTab)="onSelectTab('language_' + $index)">
                <ng-template tabHeading><span [innerText]="item.name"></span></ng-template>
                <div *ngIf="tabs['language_' + $index]" class="pt-3">
                  <!--<ngx-blg-desc [setup]="{item:info,language:item}" (onSuccess)="onDescSuccess($event)"></ngx-blg-desc>-->
                </div>
              </tab>
            </ng-container>
          </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
<ngx-dlg-category-select (onSuccess)="onCategorySelect($event)"></ngx-dlg-category-select>
