<div class="page-header no-gutter">
  <div class="row align-items-start">
    <div class="col-sm">
      <h1 class="page-header-title">Tổng đơn xử lý</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Kho hàng</li>
          <li class="breadcrumb-item">Xử lý đơn hàng</li>
          <li class="breadcrumb-item active">Tổng đơn xử lý</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="d-flex justify-content-end mb-2">
        <ngx-date-range-picker [options]="'all,week,month,year,customRange'" [data]="data" (applyEvent)="onDatePickerSuccess()"></ngx-date-range-picker>
      </div>
      <!--<div class="d-flex justify-content-end">
        <div class="btn-group" dropdown placement="bottom right">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">Thêm</button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="createExpRequest()" href="javascript:;">Lệnh xuất</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="createImpRequest()" href="javascript:;">Lệnh nhập</a></li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="nav-tabs-light">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a [routerLink]="['/pages/sto/dep/orders']" class="nav-link" routerLinkActive="active">Tổng đơn/lệnh xử lý</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/dep/orders_export']" class="nav-link" routerLinkActive="active">Đơn/lệnh xuất</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/dep/orders_import']" class="nav-link" routerLinkActive="active">Đơn/lệnh nhập</a></li>
    <li class="nav-item"><a [routerLink]="['/pages/sto/dep/histories']" class="nav-link" routerLinkActive="active">Lịch sử</a></li>
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/deployment']" class="nav-link" routerLinkActive="active">Đơn triển khai</a></li>-->
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/refund']" class="nav-link" routerLinkActive="active">Hoàn đổi</a></li>-->
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/return']" class="nav-link" routerLinkActive="active">Hoàn trả</a></li>-->
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/warranty']" class="nav-link" routerLinkActive="active">Bảo hành</a></li>-->
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/reviews']" class="nav-link" routerLinkActive="active">Đánh giá</a></li>-->
    <!--<li class="nav-item"><a [routerLink]="['/pages/sto/dep/histories']" class="nav-link" routerLinkActive="active">Lịch sử</a></li>-->
  </ul>
  <div class="tab-content pt-3">
    <div class="d-grid">
      <div class="col_tabs">
        <div class="card border-0 shadow-sm rounded">
          <div class="rounded-top py-1 bg-secondary text-white text-center font-weight-bold">Trạng thái <br> tiếp nhận/xử lý</div>
          <ng-container *ngFor="let item of statusList; let $index = index">
            <div class="filter_tab_left px-4 py-3 border-bottom cursor-pointer" [ngClass]="{'active': currentStatus == item.id}" (click)="filterStatus(item.id)">
              <div class="d-flex align-items-center"><span class="font-weight-bold" [ngStyle]="{'color': item.color}" [innerText]="item.name"></span><span class="badge badge-danger ml-2">20</span></div>
              <span class="font-weight-bold">1.000.000.000đ</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col_content">
        <div class="row no-gutters shadow-sm rounded overflow-hidden mb-3">
          <ng-container *ngFor="let item of typeList; let $index = index">
            <div class="filter_tab col-auto" [ngClass]="{'active': currentType == item.id}" (click)="filterType(item.id)">
              <div class="filter_header">{{item.name}} <span class="badge badge-danger">20</span></div>
              <div [ngStyle]="{'color': item.color}">1.000.000.000đ</div>
            </div>
          </ng-container>
          <div class="filter_tab col">
            <div class="filter_header">&nbsp;</div>
            <div class="text-success">&nbsp;</div>
          </div>
        </div>
        <div class="card">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th style="width: 1px">
                  <div class="table_tools d-flex justify-content-between align-items-center">
                    <div>
                      <div class="custom-control-wrapper">
                        <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                      </div>
                    </div>
                    <div>&nbsp;&nbsp;Stt</div>
                  </div>
                </th>
                <th [hidden]="!columns.id" (click)="sortBy('id')" [attr.class]="sortClass('id')"># <span class="sort-indicator"></span></th>
                <ng-container *ngFor="let f of reorder">
                  <th *ngIf="f=='invoice_id'" [hidden]="!columns[f]">Thuộc hóa đơn/đợt</th>
                  <th *ngIf="f=='content'" [hidden]="!columns[f]">Nội dung yêu cầu</th>
                  <th *ngIf="f=='products'" [hidden]="!columns[f]">Danh sách<br>hàng hóa</th>
                  <th *ngIf="f=='quantity'" [hidden]="!columns[f]">Tổng SL</th>
                  <th *ngIf="f=='total'" [hidden]="!columns[f]" (click)="sortBy('total')" [attr.class]="sortClass('total')">Tổng giá trị <br> (VNĐ) <span class="sort-indicator"></span></th>
                  <th *ngIf="f=='type'" [hidden]="!columns[f]">Lệnh/yêu cầu</th>
                  <th *ngIf="f=='created_at'" [hidden]="!columns[f]" (click)="sortBy('created_at')" [attr.class]="sortClass('created_at')">Ngày giờ <br> yêu cầu <span class="sort-indicator"></span></th>
                  <th *ngIf="f=='deadline_at'" [hidden]="!columns[f]">Ngày hạn định</th>
                  <th *ngIf="f=='estimate_at'" [hidden]="!columns[f]">Ngày dự kiến</th>
                  <th *ngIf="f=='reality_at'" [hidden]="!columns[f]">Ngày giờ <br> thực tế</th>
                  <th *ngIf="f=='time_gap'" [hidden]="!columns[f]">Chênh lệch</th>
                  <th *ngIf="f=='att_files'" [hidden]="!columns[f]">Chứng từ đi kèm</th>
                  <th *ngIf="f=='idx'" [hidden]="!columns[f]">Mã lệnh</th>
                  <th *ngIf="f=='handle_type'" [hidden]="!columns[f]">Loại xử lý</th>
                  <th *ngIf="f=='status'" [hidden]="!columns[f]">Trạng thái xử lý</th>
                  <th *ngIf="f=='shipping_status'" [hidden]="!columns[f]">Trạng thái <br> triển khai</th>
                  <th *ngIf="f=='ticket_idx'" [hidden]="!columns[f]">Mã phiếu xuất/nhập</th>
                  <th *ngIf="f=='customer_id'" [hidden]="!columns[f]">Bên nhận/bên giao</th>
                  <th *ngIf="f=='customer_usr_id'" [hidden]="!columns[f]">Liên hệ chính</th>
                  <th *ngIf="f=='customer_usr_phone_number'" [hidden]="!columns[f]">Số điện thoại</th>
                  <th *ngIf="f=='customer_address'" [hidden]="!columns[f]">Địa chỉ</th>
                  <th *ngIf="f=='customer_district'" [hidden]="!columns[f]">Quận/Huyện</th>
                  <th *ngIf="f=='customer_province'" [hidden]="!columns[f]">Tỉnh/Thành</th>
                  <th *ngIf="f=='carrier_id'" [hidden]="!columns[f]">Đơn vị giao nhận</th>
                  <th *ngIf="f=='carrier_supervisor_id'" [hidden]="!columns[f]">Phụ trách <br> đơn giao nhận</th>
                  <th *ngIf="f=='carrier_shipper_id'" [hidden]="!columns[f]">Người giao nhận <br> (tài xế)</th>
                  <th *ngIf="f=='carrier_shipper_phone_number'" [hidden]="!columns[f]">Số điện thoại <br> tài xế</th>
                  <th *ngIf="f=='owner_id'" [hidden]="!columns[f]">Người yêu cầu</th>
                  <th *ngIf="f=='department_idx'" [hidden]="!columns[f]">Mã Phòng ban/ <br> Bộ phận yêu cầu</th>
                  <th *ngIf="f=='stock_id'" [hidden]="!columns[f]">Kho được yêu cầu</th>
                  <th *ngIf="f=='storekeeper'" [hidden]="!columns[f]">Thủ kho</th>
                  <th *ngIf="f=='manager'" [hidden]="!columns[f]">Quản kho</th>
                  <th *ngIf="f=='note'" [hidden]="!columns[f]">Ghi chú</th>
                </ng-container>
              </tr>
              <tr>
                <td>
                  <div class="dropdown" dropdown container="body" placement="bottom left" [insideClick]="true">
                    <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle no_arrow d-flex align-items-center"><span class="mr-1 ic ic_visible_outlined"></span><span>Hiển thị</span></button>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                      <div class="js-sortable" [sortablejs]="columnList" [sortablejsOptions]="optReorder">
                        <div class="dropdown-item" *ngFor="let item of columnList">
                          <div class="custom-control custom-checkbox"><input type="checkbox" [attr.id]="'columnShow'+item.id" [(ngModel)]="item.checkbox" class="custom-control-input" [disabled]="item.disabled" (change)="columnCheckbox()"><label [attr.for]="'columnShow'+item.id" class="custom-control-label d-block" [innerText]="item.name" style="cursor: grab"></label></div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-center text-primary" (click)="columnReset()" href="javascript:;"><i class="fa fa-refresh pr-1"></i> Phục hồi</a>
                    </div>
                  </div>
                </td>
                <td [hidden]="!columns.id"></td>
                <ng-container *ngFor="let f of reorder">
                  <td *ngIf="f=='invoice_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='content'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='products'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='quantity'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='total'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='type'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='created_at'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='deadline_at'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='estimate_at'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='reality_at'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='time_gap'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='att_files'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='idx'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='handle_type'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='status'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='shipping_status'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='ticket_idx'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_usr_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_usr_phone_number'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_address'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_district'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='customer_province'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='carrier_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='carrier_supervisor_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='carrier_shipper_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='carrier_shipper_phone_number'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='owner_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='department_idx'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='stock_id'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='storekeeper'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='manager'" [hidden]="!columns[f]"></td>
                  <td *ngIf="f=='note'" [hidden]="!columns[f]"></td>
                </ng-container>
              </tr>
              </thead>
              <tbody class="text-dark">
              <tr *ngIf="data.loading">
                <td colspan="18"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
              </tr>
              <ng-container *ngFor="let item of data.items; let $index = index">
                <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1}">
                  <td>
                    <div class="table_tools d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-start align-items-center">
                        <div>
                          <div class="custom-control-wrapper">
                            <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                          </div>
                        </div>
                        <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
                        <div>
                          <div class="dropdown" dropdown container="body" placement="bottom left">
                            <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                            <div *dropdownMenu class="dropdown-menu">
                              <a class="dropdown-item" (click)="upload(item, 'att')" href="javascript:;">Chứng từ đi kèm</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" (click)="upload(item, 'cert')" href="javascript:;">Chứng từ ký duyệt</a>
                              <ng-container *ngFor="let stt of (item.type == 'in' ? statusListImp : statusListExp)">
                                <ng-container *ngIf="stt.id != item.status">
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" (click)="changeStatus(item, stt.id, item.type)" href="javascript:;" [ngStyle]="{'color': stt.color}">{{stt.name}}</a>
                                </ng-container>
                              </ng-container>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:;">Xóa</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                    </div>
                  </td>
                  <td [hidden]="!columns.id" [innerText]="item.id"></td>
                  <ng-container *ngFor="let f of reorder">
                    <td *ngIf="f=='invoice_id'" [hidden]="!columns[f]"><span class="text-nowrap" [innerText]="item.invoice?.idx || item.invoice_id"></span></td>
                    <td *ngIf="f=='content'" [hidden]="!columns[f]"><span [innerText]="item.content"></span></td>
                    <td *ngIf="f=='products'" [hidden]="!columns[f]"><a class="text-nowrap" (click)="showProducts(item)" href="javascript:;" style="text-decoration: underline;">Xem chi tiết</a></td>
                    <td *ngIf="f=='quantity'" [hidden]="!columns[f]"><span [innerText]="getQuantityProduct(item.products)"></span></td>
                    <td *ngIf="f=='total'" [hidden]="!columns[f]"><span [innerText]="item.total|currencyFormat"></span></td>
                    <td *ngIf="f=='type'" [hidden]="!columns[f]"><span class="font-weight-bold" [ngClass]="{'text-primary': item.type == 'in', 'text-success': item.type == 'out'}" [innerText]="item.type == 'in' ? 'Lệnh nhập' : 'Lệnh xuất'"></span></td>
                    <td *ngIf="f=='created_at'" [hidden]="!columns[f]"><span [innerText]="item.created_at|formatDate"></span> <br> <span [innerText]="item.created_at|formatDate:'HH:MM'"></span></td>
                    <td *ngIf="f=='deadline_at'" [hidden]="!columns[f]"><span [innerText]="item.deadline_at|formatDate"></span></td>
                    <td *ngIf="f=='estimate_at'" [hidden]="!columns[f]"><span [innerText]="item.estimate_at|formatDate"></span></td>
                    <td *ngIf="f=='reality_at'" [hidden]="!columns[f]"><span [innerText]="item.reality_at|formatDate"></span></td>
                    <td *ngIf="f=='time_gap'" [hidden]="!columns[f]"><span class="text-nowrap text-success" [innerText]="'Đúng hạn'"></span></td>
                    <td *ngIf="f=='att_files'" [hidden]="!columns[f]"><span [innerText]="item.location"></span></td>
                    <td *ngIf="f=='idx'" [hidden]="!columns[f]"><span class="text-nowrap" [innerText]="item.idx"></span></td>
                    <td *ngIf="f=='handle_type'" [hidden]="!columns[f]">
                      <span *ngIf="item.type == 'in'" class="text-nowrap font-weight-bold" [innerText]="item.in_types?.name" [ngStyle]="{'color': item.in_types?.color}"></span>
                      <span *ngIf="item.type == 'out'" class="text-nowrap font-weight-bold" [innerText]="item.out_types?.name" [ngStyle]="{'color': item.out_types?.color}"></span>
                    </td>
                    <td *ngIf="f=='status'" [hidden]="!columns[f]"><button class="btn text-nowrap text-white w-100 font-weight-bold" [ngStyle]="{'background-color': stoRequestStatusList[item.status]?.colour}" [innerText]="stoRequestStatusList[item.status]?.name"></button></td>
                    <td *ngIf="f=='shipping_status'" [hidden]="!columns[f]"><button class="btn text-nowrap text-white w-100 font-weight-bold" [ngStyle]="{'background-color': stoShippingStatusList[item.shipping_status]?.colour}" [innerText]="stoShippingStatusList[item.shipping_status]?.name || ''"></button></td>
                    <td *ngIf="f=='ticket_idx'" [hidden]="!columns[f]" style="min-width: 180px"><span [innerText]="item.ticket?.idx"></span></td>
                    <td *ngIf="f=='customer_id'" [hidden]="!columns[f]" style="min-width: 180px">
                      <!--<ng-container *ngIf="item.out_type=='purchase'"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.out_supplier?.company"></span></ng-container>-->
                      <ng-container *ngIf="item.out_type=='purchase'"><span class="d-block" style="min-width: 150px; max-width: 350px" [innerText]="item.supplier"></span></ng-container>
                      <ng-container *ngIf="item.out_type=='transfer'"><span [innerText]="item.out_stock?.name"></span></ng-container>
                    </td>
                    <td *ngIf="f=='customer_usr_id'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.customer?.usr"></ngx-contact-html></td>
                    <td *ngIf="f=='customer_usr_phone_number'" [hidden]="!columns[f]" style="min-width: 180px"><span [innerText]="item.customer?.usr?.phone_number"></span></td>
                    <td *ngIf="f=='customer_address'" [hidden]="!columns[f]"><span [innerText]="item.customer?.address"></span></td>
                    <td *ngIf="f=='customer_district'" [hidden]="!columns[f]"><span [innerText]="item.customer?.district"></span></td>
                    <td *ngIf="f=='customer_province'" [hidden]="!columns[f]"><span [innerText]="item.customer?.province"></span></td>
                    <td *ngIf="f=='carrier_id'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.carrier"></ngx-contact-html></td>
                    <td *ngIf="f=='carrier_supervisor_id'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.carrier?.supervisor"></ngx-contact-html></td>
                    <td *ngIf="f=='carrier_shipper_id'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.carrier?.shipper"></ngx-contact-html></td>
                    <td *ngIf="f=='carrier_shipper_phone_number'" [hidden]="!columns[f]"><span [innerText]="item.carrier?.shipper?.phone_number"></span></td>
                    <td *ngIf="f=='owner_id'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.owner"></ngx-contact-html></td>
                    <td *ngIf="f=='department_idx'" [hidden]="!columns[f]"><span [innerText]="item.department?.idx"></span></td>
                    <td *ngIf="f=='stock_id'" [hidden]="!columns[f]" style="min-width: 180px">
                      <div class="d-flex">
                        <div style="width: 70px"><span class="embed-responsive embed-responsive-16by9 bg-white"><img [src]="item.stock?.small_url" alt="" class="embed-responsive-item img-fluid" style="object-fit: contain"></span></div>
                        <span class="col px-0 ml-2 font-weight-bold" [innerText]="item.stock?.name"></span>
                      </div>
                    </td>
                    <td *ngIf="f=='storekeeper'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.storekeeper"></ngx-contact-html></td>
                    <td *ngIf="f=='manager'" [hidden]="!columns[f]" style="min-width: 180px"><ngx-contact-html [contact]="item.manager"></ngx-contact-html></td>
                    <td *ngIf="f=='note'" [hidden]="!columns[f]" [innerText]="item.ticket?.note"></td>
                  </ng-container>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<ngx-sto-dep-order-frm-ticket (onSuccess)="onTicketSuccess($event)"></ngx-sto-dep-order-frm-ticket>-->
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
<ngx-sto-exp-request-form (onSuccess)="onExpRequestSuccess($event)"></ngx-sto-exp-request-form>
<ngx-sto-imp-request-form (onSuccess)="onImpRequestSuccess($event)"></ngx-sto-imp-request-form>
<ngx-sto-dlg-product></ngx-sto-dlg-product>
