<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span>Hạng thành viên</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;"><span>Khách hàng</span></a></li>
          <li class="breadcrumb-item active"><span>Hạng thành viên</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
      <div class="btn-group mr-2" *ngIf="data.itemSelected">
        <a class="btn btn-outline-secondary" (click)="toggleView()"><span class="ic_angle_right"></span></a>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5" [ngClass]="{'col-md-5': data.itemSelected,'col-md-12': !data.itemSelected}">
    <div class="card">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th style="width: 1px">
              <div class="table_tools d-flex justify-content-between align-items-center">
                <div>
                  <div class="custom-control-wrapper">
                    <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label cursor-pointer" for="customSelect"></label></div>
                  </div>
                </div>
                <div>&nbsp;&nbsp;Stt</div>
              </div>
            </th>
            <th>#</th>
            <th>Tên</th>
            <th>Điểm tối thiểu</th>
            <th>Thứ hạng</th>
            <th style="width: 100px">Trạng thái</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody class="text-dark">
          <tr *ngIf="data.loading">
            <td colspan="6" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
          </tr>
          <ng-container *ngFor="let item of data.items; let $index = index">
            <tr *ngIf="!item.is_deleted" [ngClass]="{'odd':$index%2==0,'even':$index%2==1,'bg_selected':data.itemSelected&&data.itemSelected.id==item.id}">
              <td>
                <div class="table_tools d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <div class="custom-control-wrapper">
                        <div class="custom-control custom-checkbox ml-0"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label cursor-pointer" [attr.for]="'customSelect'+$index"></label></div>
                      </div>
                    </div>
                    <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
                    <div>
                      <div class="dropdown" dropdown container="body" placement="bottom left">
                        <button type="button" dropdownToggle class="btn btn-icon"><span class="ic_three_dots_vertical"></span></button>
                        <div *dropdownMenu class="dropdown-menu">
                          <!--<a class="dropdown-item" (click)="translate(item)" href="javascript:;">Dịch</a>
                          <div class="dropdown-divider"></div>-->
                          <a class="dropdown-item text-danger" (click)="remove(item)" href="javascript:;">Xóa</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div><span class="btn btn-icon w-auto fs-normal pl-1" [innerText]="$index + 1"></span></div>
                </div>
              </td>
              <td [innerText]="item.id"></td>
              <td><a class="d-block" style="width: 150px;" (click)="select(item)" href="javascript:;" [innerText]="item.name"></a></td>
              <td [innerText]="item.value"></td>
              <td [innerText]="item.rank"></td>
              <td class="text-center">
                <ngx-toggle-switch [(ngModel)]="item.status" (change)="changeProp(item, 'status')"></ngx-toggle-switch>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngx-pagination2 [page]="data.page" [pageSize]="data.pageSize" [totalItems]="data.totalItems" [maxSize]="data.maxSize" (change)="pageChanged($event)" (pageSizeChange)="pageSizeChanged($event)"></ngx-pagination2>
      </div>
    </div>
  </div>
</div>
<ngx-user-ranks-form (onSuccess)="onFormSuccess($event)"></ngx-user-ranks-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
