<ng-container *ngIf="form&&controls">
  <form novalidate [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="input-label">Container</label>
            <select name="propCont" [formControl]="controls.cont" class="form-control">
              <option value="">Mặc định</option>
              <option value="sm">Nhỏ ~ 1000</option>
              <option value="md">Trung bình ~ 1400</option>
              <option value="lg">Lớn ~ 90%</option>
              <option value="xl">Full - 100%</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Màu chủ đạo</label>
            <select name="propPrimaryColor" [formControl]="controls.primaryColor" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Màu 2</label>
            <select name="propSecondaryColor" [formControl]="controls.secondaryColor" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Màu 3</label>
            <select name="propSuccessColor" [formControl]="controls.successColor" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Size ảnh</label>
            <select name="propImgSize" [formControl]="controls.imgSize" class="form-control">
              <option value="">Mặc định</option>
              <option value="small">Nhỏ</option>
              <option value="thumb">Vừa</option>
              <option value="large">Lớn</option>
              <option value="raw">Gốc</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Khung ảnh</label>
            <select name="propImgSize" [formControl]="controls.imgFrame" class="form-control">
              <option value="">Mặc định</option>
              <option value="1by1">1:1</option>
              <option value="3by4">3:4</option>
              <option value="4by3">4:3</option>
              <option value="5by6">5:6</option>
              <option value="13by8">13:8</option>
              <option value="16by9">16:9</option>
              <option value="21by9">21:9</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="input-label" [innerText]="'Hình nền'|translate">Hình nền</label>
            <ngx-picture-uploader [options]="bgOpts" (onSelected)="onBgSelected($event)" (onDeleted)="onBgDeleted($event)"></ngx-picture-uploader>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Màu nền</label>
            <select name="propBgColor" [formControl]="controls.bgColor" class="form-control">
              <option value="">{{'Không'|translate}}</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
            <label class="input-label mt-2 pt-2">Màu tiêu đề</label>
            <select name="propTitleColor" [formControl]="controls.titleColor" class="form-control">
              <option value="">{{'Không'|translate}}</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="input-label">Background Size</label>
            <select name="propBgSize" [formControl]="controls.bgSize" class="form-control">
              <option value="">Mặc định</option>
              <option value="cover">Cover</option>
              <option value="contain">Contain</option>
            </select>
          </div>
          <div class="form-group col-sm-auto">
            <label class="input-label"><span [innerText]="'Ghim'|translate"></span></label>
            <div class="d-flex">
              <div>
                <ngx-toggle-switch [formControl]="propControls.bgFixed"></ngx-toggle-switch>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-auto">
            <label class="input-label"><span [innerText]="'Parallax'|translate"></span></label>
            <div class="d-flex">
              <div>
                <ngx-toggle-switch [formControl]="propControls.bgParallax"></ngx-toggle-switch>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Màu chữ</label>
            <select name="propTextColor" [formControl]="controls.textColor" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of colors" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-auto text-primary"><b>DESKTOP</b></div>
          <div class="col">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="input-label">Margin Top</label>
            <select name="propMt" [formControl]="controls.mtxl" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Margin Bottom</label>
            <select name="propMb" [formControl]="controls.mbxl" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Padding Top</label>
            <select name="propBt" [formControl]="controls.ptxl" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Padding Bottom</label>
            <select name="propBp" [formControl]="controls.pbxl" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Cột</label>
            <input name="propCol" type="text" [formControl]="controls.col" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Khoảng cách cột</label>
            <input name="propSpacingCol" type="number" [formControl]="controls.spacingCol" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Dòng</label>
            <select name="propCol" [formControl]="controls.row" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:1:5" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Dòng Text</label>
            <input name="propTextRow" type="number" [formControl]="controls.textRow" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6 border-left">
        <div class="row">
          <div class="col-auto text-primary"><b>MOBILE</b></div>
          <div class="col">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="input-label">Margin Top</label>
            <select name="propMt" [formControl]="controls.mt" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Margin Bottom</label>
            <select name="propMb" [formControl]="controls.mb" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Padding Top</label>
            <select name="propBt" [formControl]="controls.pt" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Padding Bottom</label>
            <select name="propBp" [formControl]="controls.pb" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:0:15" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Cột</label>
            <input name="propCol" type="text" [formControl]="controls.colMb" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Khoảng cách cột</label>
            <input name="propSpacingCol" type="number" [formControl]="controls.spacingColMb" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Dòng</label>
            <select name="propCol" [formControl]="controls.rowMb" class="form-control">
              <option value="">Mặc định</option>
              <option *ngFor="let item of []|ngxRangeNumber:1:5" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="input-label">Dòng Text</label>
            <input name="propTextRow" type="number" [formControl]="controls.textRowMb" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
