//@import url('//fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

// Font Montserrat Variables
// --------------------------
$montserrat-font-path: "#{$assets-path}/fonts/montserrat" !default;

// End Variables
// --------------------------

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$montserrat-font-path}/montserrat-regular-vietnamese.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$montserrat-font-path}/montserrat-regular-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$montserrat-font-path}/montserrat-regular-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* IE */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$montserrat-font-path}/montserrat-regular.woff') format('woff');
}

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('#{$montserrat-font-path}/montserrat-medium-vietnamese.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('#{$montserrat-font-path}/montserrat-medium-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('#{$montserrat-font-path}/montserrat-medium-latin-ext.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* IE */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('#{$montserrat-font-path}/montserrat-medium.woff') format('woff');
}

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('#{$montserrat-font-path}/montserrat-semibold-vietnamese.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('#{$montserrat-font-path}/montserrat-semibold-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('#{$montserrat-font-path}/montserrat-semibold-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* IE */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('#{$montserrat-font-path}/montserrat-semibold.woff') format('woff');
}

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$montserrat-font-path}/montserrat-bold-vietnamese.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$montserrat-font-path}/montserrat-bold-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$montserrat-font-path}/montserrat-bold-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* IE */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$montserrat-font-path}/montserrat-bold.woff') format('woff');
}

/*// Regular
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('#{$montserrat-font-path}/montserrat-regular-webfont.eot');
  src: url('#{$montserrat-font-path}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$montserrat-font-path}/montserrat-regular-webfont.woff2') format('woff2'),
  url('#{$montserrat-font-path}/montserrat-regular-webfont.woff') format('woff'),
  url('#{$montserrat-font-path}/montserrat-regular-webfont.ttf') format('truetype'),
  url('#{$montserrat-font-path}/montserrat-regular-webfont.svg#montserratregular') format('svg');
}

// SemiBold
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('#{$montserrat-font-path}/montserrat-semibold-webfont.eot');
  src: url('#{$montserrat-font-path}/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$montserrat-font-path}/montserrat-semibold-webfont.woff2') format('woff2'),
  url('#{$montserrat-font-path}/montserrat-semibold-webfont.woff') format('woff'),
  url('#{$montserrat-font-path}/montserrat-semibold-webfont.ttf') format('truetype'),
  url('#{$montserrat-font-path}/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
}

// Bold
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('#{$montserrat-font-path}/montserrat-bold-webfont.eot');
  src: url('#{$montserrat-font-path}/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$montserrat-font-path}/montserrat-bold-webfont.woff2') format('woff2'),
  url('#{$montserrat-font-path}/montserrat-bold-webfont.woff') format('woff'),
  url('#{$montserrat-font-path}/montserrat-bold-webfont.ttf') format('truetype'),
  url('#{$montserrat-font-path}/montserrat-bold-webfont.svg#montserratbold') format('svg');
}*/

