<div *ngIf="!hideBreadcrumb" class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Chi tiết sản phẩm</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item"><a class="breadcrumb-link" [routerLink]="['/pages/prd/products']">Sản phẩm</a></li>
          <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
      <div class="d-flex justify-content-center justify-content-sm-end">
        <!--<div class="btn-group mr-1">
          <button type="button" class="btn btn-outline-secondary bg-white" (click)="create()"><span class="ic_visible_outlined"></span> Xem thổng quan</button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="create()" class="btn btn-secondary d-flex align-items-center"><span class="mr-1 ic ic_plus"></span> Đăng ký</button>
        </div>-->
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="info">
  <div class="card mb-3">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-sm">
          <h4 class="card-title m-0">Thông tin chung</h4>
        </div>
        <div class="col-sm-auto">
          <div class="btn-group">
            <button type="button" (click)="edit()" class="btn btn-link d-flex align-items-center p-0 text-decoration-none text-body"><span class="mr-1 ic ic_pencil_square"></span><span>Sửa</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-6 col-md-4">
          <label class="input-label m-0">Tên sản phẩm</label>
          <span *ngIf="info.name" class="form-control-plaintext p-0" [innerText]="info.name"></span>
          <span *ngIf="!info.name" class="form-control-plaintext p-0 text-placeholder">Chưa có thông tin</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="input-label">Là quà tặng</label>
          <span class="form-control-plaintext p-0" [innerText]="info.is_gift?'Quà tặng':'Không'"></span>
        </div>
        <div class="form-group col-sm-4">
          <label class="input-label">Số coin</label>
          <span class="form-control-plaintext p-0" [innerText]="info.coins|number"></span>
        </div>
        <div class="form-group col-sm-4">
          <label class="input-label">Đơn giá</label>
          <span class="form-control-plaintext p-0">
          <span *ngIf="info.special"><strike [innerText]="info.price|currencyFormat"></strike>&nbsp;<span class="text-danger" [innerText]="info.special|currencyFormat"></span></span>
          <span *ngIf="!info.special" [innerText]="info.price|currencyFormat"></span>
        </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="input-label">Cân nặng (gram)</label>
          <span class="form-control-plaintext p-0" [innerText]="info.weight|number"></span>
        </div>
        <div class="form-group col-sm-4">
          <label class="input-label">Kích thước (DxRxC) (mm)</label>
          <span class="form-control-plaintext p-0"><span [innerText]="info.length|number"></span>x<span [innerText]="info.width|number"></span>x<span [innerText]="info.height|number"></span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <tabset class="tabcard_right">
      <tab (selectTab)="onSelectTab($event, 'specials')">
        <ng-template tabHeading>Khuyến mãi</ng-template>
        <div class="card-body" *ngIf="tabs.specials">
          <ngx-pd-specials [product]="info" [showTitle]="false"></ngx-pd-specials>
        </div>
      </tab>
      <tab (selectTab)="onSelectTab($event, 'images')">
        <ng-template tabHeading><span>Hình</span></ng-template>
        <div class="card-body" *ngIf="tabs.images">
          <ngx-pd-images [product]="info" [showTitle]="false"></ngx-pd-images>
        </div>
      </tab>
    </tabset>
  </div>
</ng-container>
<ngx-pd-product-form (onSuccess)="onFormSuccess($event)"></ngx-pd-product-form>
<ngx-pd-product-variant-edit-form (onSuccess)="onFormSuccess($event)"></ngx-pd-product-variant-edit-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
