<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title"><span [innerText]="'Thiết lập'|translate">Thiết lập</span></h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Hệ thống</li>
          <li class="breadcrumb-item active"><span [innerText]="'Thiết lập'|translate">Thiết lập</span></li>
        </ol>
      </nav>
    </div>
    <div class="col-auto-sm"></div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered m-0">
      <thead>
      <tr>
        <th style="width: 1px">STT</th>
        <th><span [innerText]="'Tên thuộc tính'|translate">Tên thuộc tính</span></th>
        <th><span [innerText]="'Giá trị'|translate">Giá trị</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="data.loading">
        <td colspan="3" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td>
      </tr>
      <ng-container *ngFor="let group of data.items; let $parentIndex = index">
        <tr>
          <td [innerText]="$parentIndex + 1"></td>
          <td colspan="2"><b [innerText]="group.name"></b></td>
        </tr>
        <tr *ngFor="let item of group.items; let $index = index">
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="btn btn-icon w-auto fs-normal pr-1" [innerText]="($parentIndex+1)+'.'+($index+1)"></span>
              </div>
              <div><a (click)="edit(item)" class="btn btn-icon" href="javascript:;"><span class="ic_pencil_square"></span></a></div>
            </div>
          </td>
          <td><a class="d-block" style="min-width: 150px" [innerHTML]="item.name"></a></td>
          <td>
            <div *ngIf="item.type=='default'||item.type=='default_textarea'||item.type=='select_color'" [innerText]="item.value"></div>
            <div *ngIf="item.type=='number'" [innerText]="item.value|number"></div>
            <div *ngIf="item.type=='text'">
              <ng-container *ngIf="isObject(item.value) && item.value['vi']"><span [innerText]="item.value['vi']"></span></ng-container>
            </div>
            <div *ngIf="item.type=='editor_lang'||item.type=='textarea'||item.type=='banners'||item.type=='list_image'||item.type=='list_image2'">Vào sửa để xem nội dung</div>
            <div *ngIf="item.type=='image'">
              <ng-container *ngIf="item.thumb_url"><img [src]="item.thumb_url" style="width: 100px"></ng-container>
            </div>
            <div *ngIf="item.type=='boolean'">
              <ngx-toggle-switch [(ngModel)]="item.value" (change)="changeProp(item)"></ngx-toggle-switch>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<ngx-st-setting-form (onSuccess)="onFormSuccess($event)"></ngx-st-setting-form>
