<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span [innerText]="!info?'Thêm':'Cập nhật'"></span> đánh giá</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <form class="pt-3" novalidate [formGroup]="form">
          <div *ngIf="info && info.link">
            <div class="form-group" [ngClass]="{'has-error': (controls.product_id.invalid && (controls.product_id.touched || showValid))}">
              <label class="input-label">Sản phẩm</label>
              <ngx-input-product [formControl]="controls.product_id" [(selected)]="curSelected"></ngx-input-product>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (controls.link.invalid && (controls.link.touched || showValid))}">
              <label class="input-label" [innerText]="'Link'">Link</label>
              <input name="link" type="text" [formControl]="controls.link" class="form-control">
            </div>
          </div>
          <div *ngIf="info && info.product_id">
            <div class="form-group" [ngClass]="{'has-error': (controls.rating.invalid && (controls.rating.touched || showValid))}">
              <label class="input-label" [innerText]="'Đánh giá'">Đánh giá</label>
              <input name="rating" type="text" [formControl]="controls.rating" class="form-control">
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (controls.review.invalid && (controls.review.touched || showValid))}">
            <label *ngIf="!info || !info.product_id" class="input-label" [innerText]="'Thông báo'">Thông báo</label>
            <label *ngIf="info && info.product_id" class="input-label" [innerText]="'Bình luận'">Bình luận</label>
            <textarea ngxEditor name="review" [formControl]="controls.review" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label class="input-label">Duyệt</label>
            <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
          </div>
          <ng-container *ngIf="!(info && langData.items.length)">
            <div class="d-flex justify-content-end">
              <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'">Cập nhật</span></button>
            </div>
          </ng-container>
          <ng-container *ngIf="(info && langData.items.length)">
            <div class="d-flex justify-content-end">
              <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'">Cập nhật</span></button>
              <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'">Cập nhật & thoát</span></button>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
