<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form">
        <div class="modal-header">
          <h4 class="modal-title">Cập nhật địa chỉ</h4>
          <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <p class="text-danger font-weight-bold">Lưu ý: Phí vận chuyển có thể thay đổi sau khi cập nhật địa chỉ</p>
          <div class="form-group">
            <label class="input-label">Tỉnh/thành phố</label>
            <select class="form-control" [formControl]="controls.shipping_province_id" (change)="onProvinceChange()" [ngClass]="{'loading':provinceData.loading}">
              <option value="">Không</option>
              <option *ngFor="let item of provinceData.items" [value]="item.vt_id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="input-label">Quận/Huyện</label>
            <select class="form-control" [formControl]="controls.shipping_district_id" (change)="onDistrictChange()" [ngClass]="{'loading':districtData.loading}">
              <option value="">Không</option>
              <option *ngFor="let item of districtData.items" [value]="item.vt_id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="input-label">Phường/Xã</label>
            <select class="form-control" [formControl]="controls.shipping_ward_id" [ngClass]="{'loading':wardData.loading}">
              <option value="">Không</option>
              <option *ngFor="let item of wardData.items" [value]="item.vt_id">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="input-label">Địa chỉ</label>
            <input type="text" class="form-control" [formControl]="controls.shipping_address_1" [value]="controls.shipping_address_1.value">
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button type="button" class="btn btn-secondary" (click)="onSubmit(form.value)" [disabled]="submitted"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Hoàn tất</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
