<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Sửa'|translate">Sửa</span>&nbsp;layout</h4>
        <a class="close" (click)="hide()"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <tabset #formTabs>
          <tab>
            <ng-template tabHeading>Mặc định</ng-template>
            <form class="pt-3" novalidate [formGroup]="form">
              <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                <label class="input-label">Tên</label>
                <input name="name" type="text" [formControl]="controls.name" class="form-control">
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.category_id.invalid && (controls.category_id.touched || showValid))}">
                <label class="input-label">Danh mục</label>
                <select class="form-control" [formControl]="controls.category_id" [ngClass]="{'loading':categoryData.loading}">
                  <option value="">{{'Không'|translate}}</option>
                  <option *ngFor="let item of categoryData.items" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="modal.isShown">
                <label class="input-label" [innerText]="'Hình'|translate">Hình</label>
                <ngx-picture-uploader [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
              </div>
              <div class="form-group">
                <label class="input-label">Mô tả</label>
                <textarea name="description" [formControl]="controls.description" rows="5" class="form-control"></textarea>
              </div>
              <ng-container *ngIf="!(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'|translate">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                </div>
              </ng-container>
              <ng-container *ngIf="(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'|translate">Cập nhật</span></button>
                  <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'|translate">Cập nhật & thoát</span></button>
                </div>
              </ng-container>
            </form>
          </tab>
          <ng-container *ngIf="info">
            <ng-container *ngFor="let item of langData.items; let $index = index">
              <tab (selectTab)="onSelectTab('language_' + $index)">
                <ng-template tabHeading><span [innerText]="item.name"></span></ng-template>
                <div *ngIf="tabs['language_' + $index]" class="pt-3">
                  <ngx-pg-ly-desc [setup]="{item:info,language:item}" (onSuccess)="onDescSuccess($event)"></ngx-pg-ly-desc>
                </div>
              </tab>
            </ng-container>
          </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
