<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg" style="z-index: 99999">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="!info"><span [innerText]="'Thêm dịch vụ đi kèm'"></span></span>
          <span *ngIf="info">Cập nhật dịch vụ đi kèm</span>
        </h4>
        <a href="javascript:" (click)="hide()" class="close"><span class="ic_close"></span></a>
      </div>
      <div class="modal-body">
        <tabset #formTabs>
          <tab>
            <ng-template tabHeading>Mặc định</ng-template>
            <form class="pt-3" novalidate [formGroup]="form">
              <div class="form-group" [ngClass]="{'has-error': (controls.name.invalid && (controls.name.touched || showValid))}">
                <label class="input-label">Tên</label>
                <input type="text" [formControl]="controls.name" class="form-control">
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.price.invalid && (controls.price.touched || showValid))}">
                <label class="input-label">Đơn giá</label>
                <input ngxCurrency type="number" [formControl]="controls.price" class="form-control">
              </div>
              <div class="form-group">
                <label class="input-label">Mô tả</label>
                <textarea [formControl]="controls.short_description" rows="3" class="form-control"></textarea>
              </div>
              <div class="form-group" [ngClass]="{'has-error': (controls.status.invalid && (controls.status.touched || showValid))}">
                <label class="input-label">Trạng thái</label>
                <ngx-toggle-switch [formControl]="controls.status"></ngx-toggle-switch>
              </div>
              <ng-container *ngIf="!(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> <span *ngIf="!info" [innerText]="'Thêm mới'">Thêm mới</span><span *ngIf="info" [innerText]="'Cập nhật'">Cập nhật</span></button>
                </div>
              </ng-container>
              <ng-container *ngIf="(info && langData.items.length)">
                <div class="d-flex justify-content-end">
                  <button type="button" (click)="onSubmit(form.value, true, true)" [disabled]="submitted" class="btn btn-secondary mr-1"><span [innerText]="'Cập nhật'">Cập nhật</span></button>
                  <button type="button" (click)="onSubmit(form.value, false, true)" [disabled]="submitted" class="btn btn-secondary"><span [innerText]="'Cập nhật & thoát'">Cập nhật & thoát</span></button>
                </div>
              </ng-container>
            </form>
          </tab>
          <ng-container *ngIf="info">
            <ng-container *ngFor="let item of langData.items; let $index = index">
              <tab (selectTab)="onSelectTab('language_' + $index)">
                <ng-template tabHeading><span [innerText]="item.name"></span></ng-template>
                <div *ngIf="tabs['language_' + $index]" class="pt-3">
                  <ngx-pd-included-product-desc [setup]="{item:info,language:item}" (onSuccess)="onDescSuccess($event)"></ngx-pd-included-product-desc>
                </div>
              </tab>
            </ng-container>
          </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
