<div *ngIf="!hideBreadcrumb" class="page-header">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Chi tiết đơn hàng</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <li class="breadcrumb-item">Giao dịch</li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" [routerLink]="['/pages/ord/orders']">Đơn hàng</a></li>
          <li class="breadcrumb-item active">Chi tiết</li>
        </ol>
      </nav>
    </div>
    <div class="col-auto">
      <div class="d-flex justify-content-center justify-content-sm-end">
        <div *ngIf="info&&info.type=='product'" class="btn-group dropdown" dropdown container="body" placement="bottom right">
          <button dropdownToggle class="btn btn-outline-secondary dropdown-toggle"><span class="ic_setting mr-1"></span> Thao tác</button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-default dropdown-menu-right">
            <a class="dropdown-item" (click)="$event.preventDefault();changeOrderStatus()" href="javascript:;"><span>Chuyển trạng thái</span></a>
            <a class="dropdown-item" (click)="$event.preventDefault();changeSupervisor()" href="javascript:;"><span>Gán người phụ trách</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-lg-between">
  <div class="col-sm order-2 order-sm-1 mb-3">
    <h4 [innerText]="info.no"></h4>
    <span class="s-status" [ngClass]="info.order_status" [innerText]="info.order_status_name"></span>
    <div class="mt-1"><span class="badge font-weight-normal badge-info mr-1" *ngFor="let tag of info.tags;"><span [innerText]="tag"></span></span></div>
  </div>
  <div class="col-sm-auto order-1 order-sm-2 text-sm-right mb-3 ml-auto">
    <h4>#{{ info.id }}</h4>
    <div><b>Khách hàng:</b>&nbsp;<a [routerLink]="['/pages/users/users', info.user_id, 'info']" [innerText]="info.display" target="_blank"></a></div>
    <div><b>Thời gian:</b> {{ info.created_at|formatDate:'dd/mm/yyyy - HH:MM' }}</div>
    <div><b>Phương thức thanh toán:</b> {{ info.payment_method }}</div>
    <div *ngIf="info.reason"><b>Lý do hủy:</b> {{ info.reason }}</div>
  </div>
</div>
<ngx-ord-order-products (onLoad)="onOrderProductsLoad($event)" [info]="info.id"></ngx-ord-order-products>
<div class="row justify-content-md-end mb-3">
  <div class="col-md-8 col-lg-7">
    <table class="table table-sm d-inline-block w-auto table-borderless text-right text-nowrap float-right no_bg">
      <tbody>
      <tr>
        <td><span class="font-weight-bold">Tạm tính:</span></td>
        <td><span [innerText]="info.sub_total|currencyFormat"></span>đ</td>
      </tr>
      <tr>
        <td><span class="font-weight-bold">Thành tiền:</span></td>
        <td><span [innerText]="info.total|currencyFormat"></span>đ</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-ord-frm-order-status (onSuccess)="onFrmOrderStatusSuccess($event)"></ngx-ord-frm-order-status>
