<div class="page-header no-gutter">
  <div class="row align-items-end">
    <div class="col-sm">
      <h1 class="page-header-title">Menu</h1>
      <nav>
        <ol class="breadcrumb breadcrumb-no-gutter">
          <!--<li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Truyền thông</a></li>-->
          <li class="breadcrumb-item active">Menu</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="create()"><span class="ic_plus"></span>&nbsp;<span>Thêm mới</span></button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center flex-grow-1">
      <div class="col-12 col-sm">
        <div class="input-group input-group-merge input-group-borderless">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="ic_search"></span></div>
          </div>
          <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="data.data.q" (keyup)="onFilter($event)">
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center"></div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="data.selectAll" (change)="selectAll()" id="customSelect"><label class="custom-control-label" for="customSelect"></label></div>
        </th>
        <th (click)="sortBy('id')" [attr.class]="sortClass('id')">#ID <span class="sort-indicator"></span></th>
        <th>Icon</th>
        <th (click)="sortBy('name')" [attr.class]="sortClass('name')"><span>Tên</span> <span class="sort-indicator"></span></th>
        <th>Chuyển hướng</th>
        <th><span [innerText]="'Sắp xếp'|translate">Sắp xếp</span></th>
        <th style="width: 90px;"><span>Trạng thái</span></th>
        <th style="width: 90px;">Submenu?</th>
        <th style="width: 90px;">Header</th>
        <th style="width: 90px;">Footer</th>
        <th style="width: 90px;">Sidebar?</th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngIf="data.loading"><td colspan="9" class="text-center"><span class="spinner-border"><span class="sr-only">Loading...</span></span></td></tr>
      <tr *ngFor="let item of data.items; let $index = index">
        <td><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" [(ngModel)]="item.checkbox" [attr.id]="'customSelect'+$index" (click)="checkbox(item)"><label class="custom-control-label" [attr.for]="'customSelect'+$index"></label></div></td>
        <td [innerText]="item.id"></td>
        <td><span [ngClass]="item.icon?item.icon:''"></span></td>
        <td>
          <a (click)="select(item)" href="javascript:;" class="d-block" style="min-width: 150px;"><ng-container *ngIf="item.parent">{{ item.parent.name }}&nbsp;>&nbsp;</ng-container>{{item.name}}</a>
          <div class="row-options"><a href="javascript:;" (click)="edit(item)" [innerText]="'Sửa'|translate">Sửa</a>&nbsp; | &nbsp;<a href="javascript:;" class="text-danger" (click)="remove(item)" [innerText]="'Xóa'|translate">Xóa</a></div>
        </td>
        <td>
          <ng-container *ngIf="item.source"><span [innerHTML]="'<b>Source:</b> '+item.source_name"></span><br></ng-container>
          <span [innerHTML]="item.page?('<b>Trang:</b> '+item.page.name):item.link"></span>
        </td>
        <td [innerText]="item.sort_order"></td>
        <td><ngx-toggle-switch [(ngModel)]="item.status" (change)="changeProp(item, 'status')"></ngx-toggle-switch></td>
        <td><ng-container *ngIf="!item.parent_id"><ngx-toggle-switch [(ngModel)]="item.is_sub" (change)="changeProp(item, 'is_sub')"></ngx-toggle-switch></ng-container></td>
        <td><ngx-toggle-switch [(ngModel)]="item.is_header" (change)="changeProp(item, 'is_header')"></ngx-toggle-switch></td>
        <td><ngx-toggle-switch [(ngModel)]="item.is_footer" (change)="changeProp(item, 'is_footer')"></ngx-toggle-switch></td>
        <td><ngx-toggle-switch [(ngModel)]="item.is_sidebar" (change)="changeProp(item, 'is_sidebar')"></ngx-toggle-switch></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ngx-pg-menu-form (onSuccess)="onFormSuccess($event)"></ngx-pg-menu-form>
<ngx-modal-confirm (onConfirm)="onConfirm($event)"></ngx-modal-confirm>
