<div bsModal #modal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="z-index: 99999">
    <div class="modal-content">
      <form novalidate [formGroup]="form">
        <div class="modal-header">
          <h4 class="modal-title">Cài đặt tiêu đề</h4>
          <a (click)="hide()" class="close" href="javascript:;"><span class="ic_close"></span></a>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="input-label">Kiểu tiêu đề</label>
            <select class="form-control" [formControl]="controls.pg_title_theme" (change)="onChangeStyle()" [ngClass]="{'loading':moduleData.loading}">
              <option value="">Mặc định</option>
              <ng-container *ngFor="let item of moduleData.titles">
                <option [value]="item.id">{{ item.name }}</option>
              </ng-container>
            </select>
            <div [hidden]="!preview" class="form-group mt-2">
              <img src="{{preview}}" class="img-fluid">
            </div>
          </div>
          <div class="form-group">
            <label class="input-label">Icon tiêu đề</label>
            <ngx-picture-uploader #uploaderEl [options]="fileOpt" (onSelected)="onFileSelected($event)" (onDeleted)="onFileDeleted($event)"></ngx-picture-uploader>
          </div>
          <div class="form-group">
            <label class="input-label">Font tiêu đề</label>
            <select class="form-control" [formControl]="controls.pg_title_font" (change)="onChangeTitleFont()">
              <option value="">Mặc định</option>
              <ng-container *ngFor="let item of moduleData.fonts">
                <option [value]="item.id">{{ item.name }}</option>
              </ng-container>
            </select>
            <div class="mt-1"><img class="img-fluid" [src]="preview_title_font"></div>
          </div>
          <div class="form-group">
            <label class="input-label">Font tiêu đề phụ</label>
            <select class="form-control" [formControl]="controls.pg_title_sub_font" (change)="onChangeSubTitleFont()">
              <option value="">Mặc định</option>
              <ng-container *ngFor="let item of moduleData.fonts">
                <option [value]="item.id">{{ item.name }}</option>
              </ng-container>
            </select>
            <div class="mt-1"><img class="img-fluid" [src]="preview_sub_title_font"></div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" (click)="onSubmit(form.value)" [disabled]="submitted" class="btn btn-secondary"><span class="spinner-border spinner-border-sm" *ngIf="submitted"></span> Hoàn tất</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
