<div class="modal-header border-bottom-0 text-center pt-3 px-2">
  <h5 class="modal-title text-center w-100 font-weight-bold" ng-bind="labels.text_modify_gender"></h5><!-- text_modify_gender -->
  <svg class="cursor-pointer" ng-click="close()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="close" transform="translate(12 12)"><g id="close-2" data-name="close" transform="translate(-12 -12)"><g id="close-3" data-name="close"><rect id="Rectangle_12822" data-name="Rectangle 12822" width="24" height="24" transform="translate(24 24) rotate(180)" fill="#0f1f2a" opacity="0"/><path id="Path_27971" data-name="Path 27971" d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,1,0,1.42,1.42L12,13.41l4.29,4.3a1,1,0,1,0,1.42-1.42Z" fill="#0f1f2a"/></g></g></g></svg>
</div>
<div class="modal-body px-3 py-8">
  <form name="form" autocomplete="off" ng-submit="submit(form)">
    <div class="form-group col-12" ng-class="{'has-danger':form.gender.$invalid&&envData.showValid}">
      <select ng-model="params.gender" name="gender" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 px-0" ng-required="true">
        <option ng-value="0" ng-selected="params.gender==0">{{ labels.entry_gender }}</option>
        <option ng-value="1" ng-selected="params.gender==1">{{ labels.text_male }}</option>
        <option ng-value="2" ng-selected="params.gender==2">{{ labels.text_female }}</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark w-100" ng-disabled="envData.submitted"><span><span class="spinner-border spinner-border-sm" ng-if="envData.submitted"></span></span>{{ labels.button_update }}</button>
    </div>
  </form>
</div>
